<div class="main-container">
    <div class="content primary-radius">
        <p>Prochain rendez-vous de <span>{{visit.medicalFile.name}} {{visit.medicalFile.lastname }}</span></p>

        <form name="form" [formGroup]="form">
            <div class="row">
                <div class="col col-md-6">
                    <div class="form-group">
                        <input type="date" [(ngModel)]="visit.appointment.date" formControlName="date" placeholder="date de RV" class="primary-input" [ngClass]="{'is-invalid' : form.get('date').touched && form.get('date').invalid}">
                        <div class="invalid-feedback" *ngIf="form.get('date').touched && form.get('date').invalid">
                            <div *ngIf="form.get('date').errors.required">La date est requis</div>
                            <div *ngIf="form.get('date').errors.future">La date invalide</div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-6">

                    <div class="stretch-container time-container">
                        <select [(ngModel)]="selectedHour" (change)="hourChanged()" [ngModelOptions]="{standalone: true}">
                            <option default selected hidden [value]="null">Heure</option>
                            <option *ngFor="let hour of hours" [value]="hour">{{hour}}</option>
                        </select>
                        <select [(ngModel)]="selectedMinute" [ngModelOptions]="{standalone: true}" *ngIf="selectedHour">
                            <option default selected hidden [value]="null">Minute</option>
                            <option *ngFor="let minute of minutes" [value]="minute">{{minute}}</option>
                        </select>
                    </div>

                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="row">
                <div class="col col-md-6">
                    <button class="secondary-button" (click)="clear()">Annuler</button>
                </div>
                <div class="col col-md-6">
                    <button class="primary-button" [disabled]="!form.valid" (click)="submit()">Validé <i class="fa fa-check"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>