<div class="main-container stretch-container">
    <div class="image-container">
        <img src="../../../../../../../assets/male.jpg" *ngIf="visit.medicalFile.gender">
        <img src="../../../../../../../assets/female.jpg" *ngIf="!visit.medicalFile.gender">

    </div>
    <div class="info-container">
        <h5> {{visit.medicalFile.name}} {{visit.medicalFile.lastname}}</h5>
        <p class="age">âge : <span>{{ age }} ans</span> </p>
        <p class="visit-time">temps d'arrivée <span>{{visit.arrivalTime}}</span> </p>
    </div>
</div>