.main-container {
    width: 100%;
    padding: 16px;
    position: relative;
}

.visit-container {
    background: white;
    width: 420px;
    padding: 16px;
}

.row .col {
    margin-bottom: 16px;
}

.new-medicalfile-message {
    background: rgba(254, 101, 85, 0.2);
    padding: 8px 12px;
    border-radius: 8px;
}

.new-medicalfile-message p {
    margin: 0px;
    width: 100%;
    color: rgb(254, 101, 85);
    font-size: 12px;
    display: grid;
    align-content: center;
}

.new-medicalfile-message button {
    max-width: 100px;
    min-width: 100px;
    border-radius: 20px;
}

.medical-act {
    margin-bottom: 8px;
    transition-duration: 0.3s;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
}

h5 {
    color: #212112;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 12px;
}

.medical-act span {
    width: 100%;
    cursor: pointer;
    color: #555555;
}

.medical-act span:nth-child(2) {
    font-weight: bold;
}

.medical-act i {
    border: 1px solid #eeeeee;
    padding: 3px;
    font-size: 10px;
    border-radius: 2px;
    color: transparent;
}

.medical-act:hover {
    background: #eeeeee;
}

.medical-act:hover i {
    border-color: rgb(38, 94, 215);
}

.medical-act.selected i {
    border-color: rgb(38, 94, 215);
    color: rgb(38, 94, 215);
}

.search-input {
    width: 100%;
    margin-right: 16px;
}

.icon-container {
    display: grid;
    align-items: center;
}

.icon-container i {
    border-radius: 50%;
    padding: 10px 11px;
    cursor: pointer;
}

.symptoms-input-container {
    margin-top: 16px
}

.symptom {
    background: #eeeeee;
    padding: 8px 16px;
    display: inline-block;
    border-radius: 20px;
    color: #555555;
    margin-right: 8px;
    margin-top: 8px;
}

.symptom i {
    color: #aaaaaa;
    background: #dddddd;
    border-radius: 50%;
    width: 26px;
    padding-top: 7px;
    padding-bottom: 8px;
    font-size: 13px;
    line-height: 12px;
    text-align: center;
    margin-left: 8px;
    cursor: pointer;
}

.symptoms-container {
    height: 210px;
    padding: 8px 0px;
}

@keyframes expandMedicalFile {
    from {
        width: 0px;
    }
    to {
        width: 560px;
    }
}

@keyframes expandVitalSetting {
    from {
        width: 0px;
    }
    to {
        width: 460px;
    }
}

@keyframes showContent {
    from {
        display: none;
    }
    to {
        display: block;
    }
}

.medical-file-container {
    background: white;
    margin-left: 16px;
    width: 560px;
    animation: expandMedicalFile 1s ease;
}

.vital-setting-container {
    background: white;
    margin-left: 16px;
    width: 460px;
    animation: expandVitalSetting 1s ease;
}

.content {
    animation: showContent 1s;
    animation-delay: 2s;
}

p {
    margin: 0px;
    color: #555555;
    font-size: 12px;
}

p i {
    color: rgb(38, 94, 215);
    margin-right: 8px;
}

.waiting-room-info span:last-child {
    float: right;
}

.medical-acts-container {
    height: 120px;
    max-height: 120px;
    overflow: auto;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 16px;
}

.controller button {
    float: right;
}

.primary-vital .icon-container:not(.button-icon) i {
    color: rgb(38, 94, 215);
    padding: 0px;
}

.primary-vital input {
    width: 100%;
}

.primary-vital .icon-container {
    margin-right: 16px;
}

.content-header {
    padding: 16px;
}

.content-header button {
    padding: 8px 16px;
    width: 160px;
    border-radius: 16px;
}

.black-window {
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}