<div class="main-container stretch-container">
    <div class="visit-container primary-radius">
        <div class="row">
            <div class="col col-md-12">
                <app-search-input (itemSelected)="selectMedicalFile($event)" [type]="'medicalFile'" [submittedItem]="submittedMedicalFile" [searchFunction]="searchFunction" [placeholder]="'Recherché un dossie medical'"></app-search-input>
            </div>
            <div class="col col-md-12">
                <div class="new-medicalfile-message stretch-container" *ngIf="visit.medicalFile == null">
                    <p>
                        Si le dossie medical n'existe pas
                    </p>
                    <button class="secondary-button" (click)="showNewMedicalFile = true">
                        Creé le <i class="fa fa-plus"></i>
                    </button>
                </div>

                <div class="medical-file" *ngIf="visit.medicalFile">
                    <app-mini-medical-file [medicalFile]="visit.medicalFile"></app-mini-medical-file>
                </div>

            </div>
            <div class="col col-md-12">
                <h5>Salle d'attent</h5>
                <p class="waiting-room-info">
                    <span><i class="fa fa-calendar"></i>{{visit.waitingRoom.date}}</span>
                    <span><i class="fa fa-sort-amount-up"></i>{{visit.waitingRoom.visits.length + 1}} {{(visit.waitingRoom.visits.length == 0) ? ("er") : ("éme")}}</span>

                </p>
            </div>
            <div class="col col-md-12">

                <h5>Les Actes medicaux</h5>
                <div class="medical-acts-container">
                    <div class="medical-act stretch-container" *ngFor="let medicalAct of medicalActs" (click)="selectMedicalAct(medicalAct)" [class.selected]="isMedicalActSelected(medicalAct)">
                        <span>
                            {{medicalAct.name}} 

                        </span>
                        <span>
                            {{medicalAct.price}} DA
                        </span>
                        <i class="fa fa-check">
                        
                        </i>
                    </div>
                </div>

                <p>
                    <i class="fa fa-money-bill-wave"></i>Montant total <span class="hightlight">{{totalPrice }} DA</span>
                </p>
            </div>
            <div class="col col-md-12">
                <h5>
                    Motif de consultation ou symptoms
                </h5>
                <div class="symptoms-input-container stretch-container">
                    <div class="search-input">
                        <app-search-input (searchSubmitted)="symptomSelected($event)" [submittedItem]="submittedSymptom" [placeholder]="'Recherché un symptom'" [searchFunction]="symptomsSearchFunction"></app-search-input>
                    </div>
                    <div class="icon-container">
                        <i class="fa fa-plus primary-button" (click)="symptomSelected(submittedSymptom)"></i>
                    </div>

                </div>
                <div class="symptoms-container">
                    <span *ngFor="let symptom of symptoms" class="symptom">
                        {{symptom.name}} <i class="fa fa-times" (click)="removeSymptom(symptom)"></i>
                    </span>
                </div>

            </div>
            <div class="col col-md-12">
                <div class="controller">
                    <button class="primary-button" [disabled]="visit.medicalFile == null" (click)="saveVisit()">Ajouter <i class="fa fa-plus"></i></button>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="medical-file-container primary-radius" *ngIf="showNewMedicalFile">
        <div class="content">
            <app-new-medical-file></app-new-medical-file>
        </div>
    </div>
</div>