.main-container {
    width: 100%;
    background: white;
    padding: 8px 16px;
}

.pagination-side {
    width: 100%;
}

.info-side {
    width: 46px;
    max-width: 46px;
    min-width: 46px;
    text-align: center;
}

.pagination-side .fa-chevron-right {
    float: right;
    margin: 0px;
}

.pagination-side i {
    width: 26px;
    max-width: 26px;
    min-width: 26px;
    text-align: center;
    cursor: pointer;
}

.pagination-side i.disabled {
    color: #eeeeee;
}

.pagination-side i:not(.disabled):hover {
    color: rgb(38, 94, 215);
}

.pagination-side .pages {
    width: 100%;
    text-align: center;
}

.pages .page {
    width: 26px;
    height: 26px;
    margin: 0px 8px;
    display: inline-flex;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.page span {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.page:hover {
    background: #eeeeee;
}

.pages .page.selected {
    background: rgb(38, 94, 215);
    color: white;
}