<div class="main-container primary-radius">
    <div class="stretch-container">
        <div class="select-container stretch-container">
            <div class="center-v">
                Type
            </div>
            <select [(ngModel)]="searchQuery.type" (keyup)="keyup($event)">
                <option >Tout</option>
                <option *ngFor="let type of types">{{type}}</option>
            </select>
        </div>
        <div class="input-container  stretch-container">
            <div class="center-v">
                Débute
            </div>
            <input type="date" (keyup)="keyup($event)" class="primary-input" [(ngModel)]="searchQuery.startDate">
        </div>
        <div class="input-container  stretch-container">
            <div class="center-v">
                Fin
            </div>
            <input type="date" (keyup)="keyup($event)" class="primary-input" [(ngModel)]="searchQuery.endDate">
        </div>
        <div class="search-input">
            <i class="fa fa-times" (click)="clear()"></i>

            <i class="fa fa-search" (click)="search()"></i>
        </div>
        <div class="button-container">
            <button (click)="openAddExpense()"> ajouter un coût <i class="fa fa-coins"></i></button>
        </div>
    </div>
</div>