<div class="main-container stretch-container">
    <div class="side submitter-side primary-radius">
        <div class="prescription-navigation">
            <button class="secondary-button" [class.selected]="navigationOption == 1" (click)="navigationOption = 1">Traitement manuel</button>
            <button class="secondary-button" [class.selected]="navigationOption == 2" (click)="navigationOption = 2">Bibliothèque de Traitements</button>
        </div>
        <div *ngIf="navigationOption == 1">
            <app-drug-submitter [visitDrugDosages]="visit.visitDrugDosages"></app-drug-submitter>
        </div>
        <div *ngIf="navigationOption == 2">
            <app-drug-dosages-library (useEvent)="use($event)"></app-drug-dosages-library>
        </div>

    </div>
    <div class="side prescription-side primary-radius">
        <app-prescription [visit]="visit"></app-prescription>
    </div>
</div>