<div class="main-container">
    <div class="header primary-radius stretch-container">
        <input type="text" class="primary-input" [(ngModel)]="service.name" placeholder="service (Français) ..">
        <div class="language-selector">
            <img src="{{(service.language == 'FR') ? ('../../../../../../../assets/fr.svg') : ('../../../../../../../assets/dz.svg')}}" (click)="toggleLanguage()">
        </div>
        <button class="primary-button" (click)="submit()">Ajouter <i class="fa fa-plus"></i></button>
    </div>
    <div class="body primary-radius">
        <span *ngFor="let service of services">{{service.name}}<i class="fa fa-times" (click)="deleteService(service)"></i></span>
    </div>
</div>