.main-container {
    padding: 16px;
    width: 560px;
}

.header {
    background: white;
    padding: 16px;
}

button {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
    position: relative;
}

.header button i {
    float: right;
    margin-top: 4px;
}

.header input {
    margin-right: 16px;
}

.body {
    background: white;
    margin-top: 16px;
    padding: 16px;
}

.language-selector {
    display: grid;
    align-items: center;
    max-width: 32px;
    min-width: 32px;
    margin-right: 16px;
}

img {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0px auto;
    border-radius: 50%;
    cursor: pointer;
}

img:hover {
    box-shadow: 1px 1px 6px rgba(38, 94, 215, 0.3), -1px -1px 6px rgba(38, 94, 215, 0.3);
}

span {
    background: #eeeeee;
    padding: 6px 10px;
    border-radius: 20px;
    font-size: 12px;
    margin: 4px 6px;
    display: inline-block;
}

span i {
    margin-left: 8px;
    background: #aaaaaa;
    padding: 2px 4px;
    border-radius: 20px;
    transition-duration: 0.3s;
}

span i:hover {
    color: rgb(254, 101, 85);
    background: rgba(254, 101, 85, 0.5);
    cursor: pointer;
}

.body {
    height: 160px;
    overflow: auto;
}