<div class="main-container" (click)="preventPropagation($event)">
    <div class="header">
        <h5>{{title}} <i class="fa fa-times" (click)="close()"></i></h5>
    </div>
    <div class="body">
        <app-diagnosis *ngIf="windowPage == 'diagnosis'"></app-diagnosis>
        <app-speciality-diagnosis *ngIf="windowPage == 'speciality-diagnosis'"></app-speciality-diagnosis>
        <app-diagnosis-result *ngIf="windowPage == 'diagnosis-result'"></app-diagnosis-result>
        <app-ask-for-premium-window *ngIf="windowPage == 'ask-for-premium'"></app-ask-for-premium-window>
        <app-feedback-window *ngIf="windowPage == 'feedback-window'"></app-feedback-window>
        <app-service-submitter *ngIf="windowPage == 'service-submitter'"></app-service-submitter>
        <app-assistant-submitter *ngIf="windowPage =='assistant-submitter'" (closeEvent)="close()"></app-assistant-submitter>
        <app-yes-no-message *ngIf="windowPage =='yes-no-message'" (closeEvent)="close()"></app-yes-no-message>
        <app-medical-act-submitter *ngIf="windowPage =='medical-act-submitter'" (closeEvent)="close()"></app-medical-act-submitter>
        <app-new-visit *ngIf="windowPage == 'new-visit'" (closeEvent)="close()"></app-new-visit>
        <app-paye-visit *ngIf="windowPage == 'paye-visit'" (closeEvent)="close()"></app-paye-visit>
        <app-vital-setting *ngIf="windowPage == 'vital-setting'" (closeEvent)="close()"></app-vital-setting>
        <app-clincal-exam-manager *ngIf="windowPage == 'clincal-exam-manager'" (closeEvent)="close()"></app-clincal-exam-manager>
        <app-visit-advanced-search *ngIf="windowPage == 'visit-advanced-search'" (closeEvent)="close()"></app-visit-advanced-search>
        <app-medical-file-advanced-search *ngIf="windowPage == 'medical-file-advanced-search'" (closeEvent)="close()"></app-medical-file-advanced-search>
        <app-visit-appointment *ngIf="windowPage == 'visit-appointment'" (closeEvent)="close()"></app-visit-appointment>
        <app-add-expense *ngIf="windowPage == 'add-expense'" (closeEvent)="close()"></app-add-expense>
        <app-prescription-model-submitter *ngIf="windowPage == 'prescription-model-submitter'" (closeEvent)="close()"></app-prescription-model-submitter>
        <app-document-submitter *ngIf="windowPage == 'document-submitter'" (closeEvent)="close()"></app-document-submitter>
        <app-certificat-models *ngIf="windowPage == 'certificat-models'" (closeEvent)="close()"></app-certificat-models>
        <div class="new-medical-file" *ngIf="windowPage == 'medical-file-submitter'">
            <div class="black-window" *ngIf="contentBlackWindow"></div>
            <div class="content primary-radius">
                <app-new-medical-file [throwInteraction]="true" (closeEvent)="close()" (blackWindowEvent)="contentBlackWindow = !contentBlackWindow"></app-new-medical-file>
            </div>
        </div>
        <app-appointments-loader *ngIf="windowPage == 'appointments-loader'" (closeEvent)="close()"></app-appointments-loader>
        <app-visit-details *ngIf="windowPage == 'visit-details'"></app-visit-details>
    </div>
</div>