.main-container {
    position: absolute;
    background: #F5F6FA;
    left: 50%;
    transform: translateX(-50%);
    margin: 26px 0px;
    border-radius: 8px;
}

.main-container .header h5 {
    background: rgb(38, 94, 215);
    padding: 8px 16px;
    font-size: 14px;
    color: white;
    position: relative;
    margin: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.main-container .header h5 i {
    position: absolute;
    right: 16px;
    top: 8px;
    cursor: pointer;
    font-size: 16px;
    padding: 2px;
}