<div class="main-container">
    <app-header></app-header>
    <div class="content">
        <app-visit-header [onlyGeneral]="visit.medicalFile == null" (selectPageEvent)="select($event)" [visit]="visit"></app-visit-header>
        <div class="pages" *ngIf="visit">
            <div class="page" *ngIf="page == 1">
                <app-visit-information (visitSelectedEvent)="visitSelected($event)" [visit]="visit"></app-visit-information>
            </div>
            <div class="page" *ngIf="page == 3">
                <app-visit-prescription [visit]="visit"></app-visit-prescription>
            </div>
            <div class="page" *ngIf="page == 4">
                <app-visit-check-up [visit]="visit"></app-visit-check-up>
            </div>
            <div class="page" *ngIf="page == 6">
                <app-visit-documents></app-visit-documents>
            </div>
        </div>
    </div>
</div>