<div class="main-container">
    <div class="content primary-radius">
        <form name="form" [formGroup]="form">
            <div class="row">

                <div class="col col-md-6">
                    <div class="form-group">
                        <input type="number" [(ngModel)]="expense.price" [ngClass]="{'is-invalid' : form.get('price').touched && form.get('price').invalid}" formControlName="price" placeholder="Montant (DA)" class="primary-input">
                        <div class="invalid-feedback" *ngIf="form.get('price').touched && form.get('price').invalid">
                            <div *ngIf="form.get('price').errors.required">
                                Montant est requis
                            </div>
                            <div *ngIf="form.get('price').errors.invalidNumber">
                                Montant invalide
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="form-group">
                        <select formControlName="type" [(ngModel)]="expense.type" [ngClass]="{'is-invalid' : form.get('type').touched && form.get('type').invalid}">
                            <option hidden [value]="undefined">Type</option>
                            <option *ngFor="let type of types" [value]="type">{{type}}</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="form.get('type').touched && form.get('type').invalid">
                            <div *ngIf="form.get('type').errors.required">le type est requis</div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-6">
                </div>
                <div class="col col-md-6">
                    <button *ngIf="!expense.id" class="primary-button" [disabled]="!form.valid" (click)="submit()">Ajouter <i class="fa fa-plus"></i></button>
                    <button *ngIf="expense.id" class="primary-button" [disabled]="!form.valid" (click)="edit()">Modifier <i class="fa fa-edit"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>