.propa-side {
    min-width: 100px;
    max-width: 100px;
    display: grid;
    align-items: center;
}

.propa-side span {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-bottom: -12px;
    font-weight: bold;
}

.info-side {
    width: 100%;
    padding: 8px 16px;
    display: grid;
    align-items: center;
}

.info-side h5 {
    margin: 0px;
    font-size: 14px;
    color: #212121;
    font-weight: bold;
}

.info-side span {
    color: #555555;
    font-size: 12px;
}

.small-propa span {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
}

.small-propa p {
    line-height: 16px;
    font-size: 12px;
    max-height: 16px;
    overflow: hidden;
    margin-top: 4px;
    color: #555;
}