.main-container {
    background: white;
    padding: 16px 16px;
    height: 380px;
}

.main-container h5 {
    margin: 0px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
}

.no-data-message {
    margin: 0px !important;
}