.header {
    margin-bottom: 16px;
}

.header h5 {
    width: 40%;
    font-weight: bold;
    margin: 0px;
}

.header .controller {
    width: 60%;
}

.controller p {
    min-width: 20%;
    max-width: 20%;
    display: flex;
    align-items: center;
    color: #555555;
    font-size: 14px;
    margin: 0px 8px;
}

.controller p span {
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border-radius: 50%;
}

.controller p:nth-child(2) span {
    background: rgb(254, 101, 85);
}

.controller p:nth-child(1) span {
    background: rgb(38, 94, 215);
}

.controller p {
    font-weight: bold;
}

h5 {
    margin-top: 16px;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 100%;
}

select {
    float: right;
    width: 60%;
}

.select-container {
    width: 100%;
}