.header {
    margin-bottom: 16px;
}

.header h5 {
    width: 40%;
    font-weight: bold;
    margin: 0px;
}

.header .controller {
    width: 60%;
}

.controller p {
    min-width: 30%;
    max-width: 30%;
    display: flex;
    align-items: center;
    color: #555555;
    font-size: 14px;
    margin: 0px 8px;
}

.controller p span {
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border-radius: 50%;
}

.controller p:nth-child(2) span {
    background: rgb(254, 101, 85);
}

.controller p:nth-child(1) span {
    background: rgb(38, 94, 215);
}

.controller button {
    width: 40%;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #eeeeee;
    background: none;
    color: #555555;
    font-size: 14px;
}