.files-list {
    max-height: 480px;
    min-height: 480px;
    margin-top: 16px;
    margin-bottom: 16px;
    overflow-y: auto;
    overflow-x: hidden;
}

.files-list .col {
    margin-bottom: 16px;
}