<div class="edit-visit-window" *ngIf="showEditVisit">
    <div class="edit-visit-container">
        <div class="edit-visit-header">
            <h5> Modifer la visite <i class="fa fa-times" (click)="closeEditVisit()"></i></h5>
        </div>
        <div class="edit-visit-body">
            <app-edit-visit [visit]="editedVisit" (closeEvent)="closeEditVisit()"></app-edit-visit>
        </div>
    </div>
</div>
<div class="pop-up-window" *ngIf="showPopUpWindow">
    <app-pop-up-window></app-pop-up-window>
</div>
<div class="dashboard-container" [class.blur-filter]="showPopUpWindow">
    <div class="sidebar-section">
        <app-side-bar (activeEvent)="active()"></app-side-bar>
    </div>
    <div class="content-section">
        <div class="active-background" *ngIf="isActive"></div>
        <app-content></app-content>
    </div>
</div>

<div class="virtual-assistant-container">
    <app-virtual-assistant-controller></app-virtual-assistant-controller>
</div>
<app-success-and-fail-messages [message]="message" *ngIf="showMessage" (closeEvent)="closeMessage()"> </app-success-and-fail-messages>