.header h5 {
    padding: 6px 16px;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    margin: 0px;
}

.list {
    height: 490px;
    max-height: 490px;
    margin-top: 16px;
    padding: 0px;
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
}

.main-container {
    position: relative;
}