<div class="main-container">
    <div class="header">
        <h5 [ngStyle]="{'background-color' : color }">{{header}}</h5>
    </div>
    <div class="list" *ngIf="!done">
        <div class="visit" *ngFor="let visit of visits; let i = index">
            <app-visit [visit]="visit" [nextSubject]="visitsSubjects[i].subject" [done]="done"></app-visit>
        </div>
    </div>

    <div class="list" *ngIf="done">
        <div class="visit" *ngFor="let visit of visits">
            <app-visit [visit]="visit" [done]="done"></app-visit>
        </div>
    </div>
</div>