.header h5 {
    padding: 6px 16px;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    margin: 0px;
    text-align: center;
}

.list {
    height: 550px;
    max-height: 550px;
    margin-top: 16px;
    padding: 0px;
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
}

.main-container {
    position: relative;
}

.cdk-drag-placeholder * {
    display: none;
}

.cdk-drag-animating {
    transition: transform 500ms ease;
}

.cdk-drag-placeholder {
    height: 148px;
    width: 100%;
    background: #eeeeee;
    border-radius: 16px;
}

.cdk-drag-preview {
    box-shadow: -3px -3px 26px rgba(0, 0, 0, 0.1), -3px -3px 26px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.no-data-message {
    margin: 0px;
    text-align: center;
    font-size: 12px;
}