.main-container {
    padding: 16px;
}

.header h5 {
    font-weight: bold;
    color: #212121;
    width: 100%;
}

.header button {
    max-width: 200px;
    min-width: 200px;
}

.header {
    margin-bottom: 16px;
}

.check-up-types {
    max-height: 600px;
    height: 600px;
    overflow: auto;
}