<div class="main-container">
    <div class="header stretch-container">
        <h5>Les Type de bilans</h5>
        <button class="primary-button" (click)="openSubmitter()">Ajouter un type de bilan <i class="fa fa-plus"></i></button>
    </div>

    <div class="check-up-types">
        <div class="check-up-type" *ngFor="let checkUpType of checkUpTypes">
            <app-check-up-type [selectedCheckUps]="visit.checkUps" (deleteEvent)="delete($event)" [controllable]="true" [checkUpType]="checkUpType"></app-check-up-type>
        </div>
    </div>
</div>