<div class="main-container stretch-container">

    <div class="image-side">
        <img src="../../../../../../../assets/male.jpg" *ngIf="appointment.visit.medicalFile.gender">
        <img src="../../../../../../../assets/female.jpg" *ngIf="!appointment.visit.medicalFile.gender">
    </div>
    <div class="info-side">
        <h5>{{appointment.visit.medicalFile.name}} {{appointment.visit.medicalFile.lastname}} </h5>
        <p>Date de RDV : <span>{{frDate(appointment.date)}}</span> à <span>{{appointment.time}}</span></p>
        <div class="contant stretch-container">
            <p>

                <i class="fa fa-phone"></i> {{(appointment.visit.medicalFile.phone) ? (appointment.visit.medicalFile.phone) : ("Inconnue")}}
            </p>
            <p>

                <i class="fa fa-envelope"></i> {{(appointment.visit.medicalFile.email) ? (appointment.visit.medicalFile.email) : ("Inconnue")}}
            </p>
        </div>
    </div>
</div>