<div class="cart-container" [ngStyle]="classStyle" [class.white]="evolutionParam.white">
    <div class="top">
        <i class="{{evolutionParam.icon}}"></i>
        <div class="right">
            <span> 
                <i *ngIf="evolutionParam.evolutionPercentage >  0"class="fa fa-chevron-up"></i> 
                <i *ngIf="evolutionParam.evolutionPercentage <  0"class="fa fa-chevron-down"></i> 
                {{getPercentage}} %
            </span>
            <p>rapport au dernier {{periodText}}</p>
        </div>
    </div>
    <div class="bottom">
        <h6>{{evolutionParam.name}}</h6>
        <span>{{evolutionParam.evolutionValue}}</span>
        <i class="fa fa-chart-bar"></i>
    </div>
</div>