<div class="main-container stretch-container">
    <div class="side submitter-side primary-radius">
        <app-certificat-submitter (typeSelcted)="typeSelcted($event)" [selectedCertificat]="selectedCertificat" (selectCertificat)="selectCertificat($event)" [visit]="visit"></app-certificat-submitter>
    </div>
    <div class="side prescription-side primary-radius">
        <app-prescription [certificat]="selectedCertificat" [type]="'prescription-certificat'" [title]="prescriptionTitle" [visit]="visit"></app-prescription>
    </div>
</div>