<div class="main-container">
    <div class="search-header">
        <input type="text" placeholder="Recherché un Traitment" [(ngModel)]="name" class="primary-input">

    </div>
    <div class="body">
        <div class="prescription-model" *ngFor="let prescriptionModel of prescriptionModels">
            <app-prescription-model (deleteEvent)="delete($event )" (editEvent)="edit($event)" (useEvent)="use($event)" [prescriptionModel]="prescriptionModel"></app-prescription-model>
        </div>
    </div>
    <div class="footer">
        <a (click)="openSubmitter()">Si le model de traitment n'existe pas creé le <i class="fa fa-plus"></i></a>
    </div>
</div>