<div class="main-container">
    <div class="search-header stretch-container">
        <input type="text" placeholder="Recherché un Traitment" [(ngModel)]="name" class="primary-input">
        <div class="center-v">
            <button>Ajouter <i class="fa fa-plus"></i></button>
        </div>
    </div>
    <div class="body">
        <div class="prescription-model" *ngFor="let prescriptionModel of prescriptionModels">
            <app-prescription-model></app-prescription-model>
        </div>
    </div>
</div>