<div class="header-container stretch-container">

    <div class="page-title-section center-v">
        <h5>Accueil</h5>
    </div>

    <div class="search-field-section center-v">
        <div class="stretch-container input-container">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Recherche de patient">
        </div>
    </div>

    <div class="info-section">
        <div class="stretch-container">
            <div class="time-picker-container">
                <p>
                    <i class="fa fa-calendar-alt"></i>
                    <span>5 Janv 2021</span>-<span>6 Janv 2021</span>
                </p>
            </div>
            <div class="stretch-container doc-info">
                <div class="notification-container center-v">
                    <i class="fa fa-bell"></i>
                </div>
                <div class="center-v profil-image-container">
                    <img src="../../../../assets/male.jpg" id="profil-image">
                </div>
                <div class="center-v username-container">
                    <p>Dr : {{doctor.lastname }} {{doctor.name}} <i class="fa fa-sort-down"></i></p>
                </div>
            </div>
        </div>
    </div>

</div>