<div class="header-container stretch-container">

    <div class="page-title-section center-v">
        <h5>{{title}}</h5>
    </div>

    <div class="search-field-section center-v" [class.active]="activeSearch">
        <div class="stretch-container input-container primary-radius">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Recherche de patient" #queryInput [(ngModel)]="query" (keyup)="search()" (focus)="onFocus()" (blur)="onBlur()">
        </div>
        <div class="medical-files" *ngIf="medicalFiles.length > 0">
            <div class="medical-file" *ngFor="let medicalFile of medicalFiles" (click)="selectMedicalFile(medicalFile)">
                <h5>
                    {{medicalFile.name}} {{medicalFile.lastname}}
                    <span>{{frDate(medicalFile.birthday)}}</span>

                </h5>
                <div class="info" *ngIf="medicalFile.phone || medicalFile.email">
                    <span *ngIf="medicalFile.phone"><i class="fa fa-phone"></i> {{medicalFile.phone}}</span>
                    <span [class.right]="medicalFile.phone" *ngIf="medicalFile.email"><i class="fa fa-envelope"></i> {{medicalFile.email}}</span>
                    <div style="clear: both;"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="info-section">
        <div class="stretch-container">
            <div class="time-picker-container">
                <p>
                    <i class="fa fa-calendar-alt"></i>
                    <span>{{getCurrentDate}}</span>
                </p>
            </div>
            <div class="stretch-container doc-info">
                <div class="notification-container center-v">
                    <i class="fa fa-bell"></i>
                </div>
                <div class="center-v profil-image-container">
                    <img src="../../../../assets/male.jpg" id="profil-image">
                </div>
                <div class="center-v username-container">
                    <p>Dr : {{doctor.lastname }} {{doctor.name}} <i class="fa fa-sort-down"></i></p>
                </div>
            </div>
        </div>
    </div>

</div>