<div class="main-container">
    <div class="prescription">
        <div class="header" *ngIf="doctor && cabinet">
            <app-prescription-header [doctor]="doctor" [cabinet]="cabinet"></app-prescription-header>
        </div>
        <div class="body">
            <app-prescription-drug-dosages [visit]="visit"></app-prescription-drug-dosages>
        </div>
        <div class="footer">
            <app-prescription-footer [doctor]="doctor" [cabinet]="cabinet"></app-prescription-footer>
        </div>
    </div>
</div>