<div class="main-container" *ngIf="!newCertificat">
    <div class="certificat-header stretch-container">
        <h5>{{this.selectedType}}</h5>
        <select [(ngModel)]="selectedType">
            <option *ngFor="let type of certificatTypes" [value]="type">{{type}}</option>
        </select>
    </div>
    <span class="primary-button add-new" (click)="openModels()">
        Ajouter <i class="fa fa-plus"></i>
    </span>
    <div style="clear: both;"></div>
    <div class="certificats-list">
        <div class="certificat" [class.selected]="selectedCertificat && selectedCertificat.id == certificat.id" *ngFor="let certificat of visit.certificats" (click)="select(certificat)">
            {{certificat.certificatModel.title}}
            <i class="fa fa-times" (click)="remove(certificat)"></i>
            <span (click)="openCertificat(certificat)">Modifer <i class="fa fa-edit" ></i></span>
        </div>
    </div>
</div>
<div class="main-container" *ngIf="newCertificat">
    <app-certificat-editor [isEdit]="isEdit" (saveEvent)="add($event)" (backEvent)="back()" [visit]="visit" [certificat]="newCertificat"></app-certificat-editor>
</div>