<div class="main-container" *ngIf="!newCertificat">
    <div class="certificat-header stretch-container">
        <div class="select-container">
            <select [(ngModel)]="selectedType" (change)="typeChenged()">
                <option *ngFor="let type of certificatTypes" [value]="type">{{type}}</option>
            </select>
        </div>
        <div class="add-new">
            <button class="primary-button" (click)="openModels()">
                Ajouter {{selectedType}} <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div style="clear: both;"></div>
    <h5>List des {{selectedType}}s</h5>
    <div class="certificats-list">
        <p class="no-data-message" *ngIf="certificatTypeBased.length == 0">Aucun {{prescriptionTitle}} veuillez en ajouter un nouveau </p>
        <div class="certificat" [class.selected]="selectedCertificat && selectedCertificat.id == certificat.id" *ngFor="let certificat of certificatTypeBased" (click)="select(certificat)">
            {{certificat.certificatModel.title}}
            <span>
            <i class="fa fa-times" (click)="remove(certificat)"></i>
        </span>
            <span>
            <i class="fa fa-edit" (click)="openCertificat(certificat)"></i>
        </span>
        </div>
    </div>
</div>
<div class="main-container" *ngIf="newCertificat">
    <app-certificat-editor [isEdit]="isEdit" (saveEvent)="add($event)" (backEvent)="back()" [visit]="visit" [certificat]="newCertificat"></app-certificat-editor>
</div>