.main-container {
    padding: 16px;
}

.certificat-header h5 {
    margin: 0px;
    font-weight: bold;
    color: #212121;
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.certificat-header {
    padding-bottom: 16px;
    border-bottom: 1px solid #eeee;
}

.certificat-header select {
    width: 180px;
    max-width: 180px;
    min-width: 180px;
}

.certificats-list {
    height: 420px;
    max-height: 420px;
    overflow: auto;
}

.certificat {
    margin: 8px 0px;
    color: #555;
    font-size: 14px;
    padding: 4px 12px;
    border-radius: 20px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.certificat:hover {
    background: #eeee;
}

.certificat.selected {
    background: #eeee;
}

.fa-times {
    float: right;
    background: rgb(254, 101, 85);
    color: white;
    padding: 4px 6px;
    border-radius: 50%;
}

.certificat span {
    float: right;
    background: white;
    padding: 3px 8px;
    border-radius: 20px;
    color: rgb(38, 94, 215);
    font-size: 11px;
    margin-right: 16px;
}

.add-new {
    float: right;
    margin: 16px 0px;
    width: 180px;
    text-align: center;
    cursor: pointer;
}