.main-container {
    padding: 16px;
}

h5 {
    margin: 0px;
    font-weight: bold;
    color: #212121;
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.certificat-header {
    padding-bottom: 16px;
}

.certificat-header div {
    width: 50%;
}

.certificat-header select {
    max-width: 200px;
    min-width: 200px;
}

.certificats-list {
    height: 420px;
    max-height: 420px;
    overflow: auto;
}

.certificat {
    margin: 8px 0px;
    color: #555;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 20px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.certificat:hover {
    background: #eeee;
}

.certificat.selected {
    background: #eeee;
}

.certificat span {
    width: 24px;
    height: 24px;
    background: rgb(254, 101, 85);
    border-radius: 50%;
    float: right;
    color: white;
    font-size: 12px;
    position: relative;
    margin-top: -2px;
    opacity: 0;
    transition-duration: 0.3s;
}

.certificat:hover span {
    opacity: 1;
}

.certificat span i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.certificat span:last-child {
    background: rgb(38, 94, 215);
    margin-right: 8px;
}

.certificat-header button {
    max-width: 200px;
    min-width: 200px;
    float: right;
    padding: 10px 16px;
}