<div class="main-container" *ngIf="!selectedModel">
    <div class="certificat-header stretch-container">
        <h5>{{this.selectedType}}</h5>
        <select [(ngModel)]="selectedType">
            <option *ngFor="let type of certificatTypes" [value]="type">{{type}}</option>
        </select>
    </div>
    <span class="primary-button add-new">
        Ajouter <i class="fa fa-plus"></i>
    </span>
    <div style="clear: both;"></div>
    <div class="certificats-list">
        <div class="certificat" *ngFor="let certificat of visit.certificats">
            {{certificat.title}}
        </div>
    </div>
</div>
<div class="main-container" *ngIf="selectedModel">
    <app-certificat-editor (backEvent)="back()" [visit]="visit" [certificatModel]="selectedModel"></app-certificat-editor>
</div>