<div class="main-container primary-radius">
    <div class="row">
        <div class="col col-md-12" *ngIf="!visit.medicalFile">
            <app-search-input (itemSelected)="selectMedicalFile($event)" [type]="'medicalFile'" [submittedItem]="submittedMedicalFile" [searchFunction]="searchFunction" [placeholder]="'Recherché un dossie medical'"></app-search-input>
        </div>
        <div class="col col-md-12">
            <div class="new-medicalfile-message stretch-container" *ngIf="visit.medicalFile == null">
                <p>
                    Si le dossie medical n'existe pas
                </p>
                <button class="secondary-button" (click)="showNewMedicalFile = true" (click)="openMedicalFileSubmitter()">
                    Creé le <i class="fa fa-plus"></i>
                </button>
            </div>
            <div class="medical-file" *ngIf="visit.medicalFile">
                <app-mini-medical-file (closeEvent)="closeMedicalFile()" [medicalFile]="visit.medicalFile"></app-mini-medical-file>
            </div>
        </div>
        <div class="col col-md-12" *ngIf="visit.waitingRoom">
            <h5>Salle d'attent</h5>
            <p class="waiting-room-info">
                <span><i class="fa fa-calendar"></i>{{visit.waitingRoom.date}}</span>
                <span><i class="fa fa-sort-amount-up"></i>{{visit.order}} {{(visit.order == 1) ? ("er") : ("éme")}}</span>
            </p>
        </div>
        <div class="col col-md-12">
            <h5>Motif de consultation et symptoms</h5>
            <div class="symptoms-container">
                <span *ngFor="let symptom of visit.symptoms">{{symptom.name}}</span>
                <p class="no-data-message" *ngIf="visit.symptoms">Aucun Symptoms ou motife de consultation il faut selectioner un dossie médical</p>
            </div>
        </div>
        <div class="col col-md-12">
            <div class="antecedents-header stretch-container">
                <h5>
                    Antecedents
                </h5>
            </div>
            <div class="antecedents-container" *ngIf="visit.medicalFile">
                <span *ngFor="let antecedent of visit.medicalFile.antecedents">
                    {{antecedent.name}}
                </span>
            </div>
            <div class="antecedents-container" *ngIf="visit.medicalFile == null">
                <p class="no-data-message">Aucun Antencents il faut selectioner un dossie médical</p>
            </div>
        </div>
        <div class="col col-md-12">
            <div class="stretch-container" *ngIf="visit.status == 'in visit'">
                <h5>Condition ou maladie</h5>
                <div class="search-container">
                    <app-search-input (onChange)="change($event)" [submittedItem]="visit.condition" [searchFunction]="searchCondtion" [placeholder]="'Recherché une condition'"></app-search-input>
                </div>
            </div>
            <div *ngIf="visit.status != 'in visit'">
                <h5>Condition ou maladie</h5>
                <p class="no-data-message">Pour Saisir une patholgie il faut démarer la visite</p>
            </div>
        </div>
        <div class="controller col col-md-12">
            <button *ngIf="visit.status == 'in visit'" class="primary-button" (click)="saveVsit()"> Sauvgarder la visite <i class="fa fa-save"></i></button>
            <button *ngIf="visit.status != 'in visit'" class="primary-button" (click)="saveVsit()"> Démarer la visite <i class="fa fa-heartbeat"></i></button>

        </div>
    </div>
</div>