<div class="main-container primary-radius">

    <div class="row">
        <div class="col col-md-4">
            <app-visit-loader [isEdit]="isEdit" (editVisitEvent)="edit($event)" (saveVisitEvent)="save($event)" (visitSelectedEvent)="visitSelected($event)" [visit]="visit"></app-visit-loader>
        </div>

        <div class="col col-md-4">
            <div>
                <app-visit-vital-setting [active]="visit.medicalFile != null" [vitalSetting]="visit.vitalSetting"></app-visit-vital-setting>
            </div>
            <div class="side-card">
                <app-visit-medical-acts [valid]="validMedicalActs" [active]="visit.medicalFile != null" [selectedMedicalActs]="visit.medicalActs"></app-visit-medical-acts>
            </div>
        </div>
        <div class="col col-md-4">
            <app-visit-clincal-exam [active]="visit.medicalFile != null" [exam]="visit.clinicalExam" (onChange)="visit.clinicalExam = $event"></app-visit-clincal-exam>
        </div>
    </div>

</div>