.app-manager {
    position: relative;
}

.no-waiting-room {}

.no-waiting-room i {
    font-size: 82px;
    color: white;
}

.no-waiting-room {
    text-align: center;
}

.no-waiting-room p {
    margin: 8px 0px;
    color: #888888;
    font-size: 12px;
}

.no-waiting-room button {
    padding: 4px 16px;
    border-radius: 16px;
}