<div class="main-container">
    <div class="drug">
        <p>{{visitDrugDosage.drug.name}} <span>{{visitDrugDosage.unitNumber}}</span></p>

    </div>

    <div class="dosage">
        <p>
            {{visitDrugDosage.dosage.name}}
            <span> pendant {{visitDrugDosage.qsp}}</span>

        </p>
        <div class="control-container" *ngIf="control">
            <span class="delete" (click)="deleteEvent.emit(visitDrugDosage)">Supprimer<i class="fa fa-times"></i></span>
            <span class="edit" (click)="editEvent.emit(visitDrugDosage)">Modifier <i class="fa fa-edit"></i></span>
        </div>
    </div>
</div>