<div class="main-container primary-radius">
    <div class="stretch-container">
        <div class="search-input">
            <input type="text" [(ngModel)]="searchQuery.searchQuery" placeholder="Rechercher nom prénom date de n'assance telephone email" class="primary-input">
        </div>
        <div class="date-input">
            <select (change)="optionSelected()" [(ngModel)]="selectedOption">
                <option *ngFor="let option of diagnosisOptions" [value]="option">{{option}}</option>
            </select>
        </div>
        <div class="hint center-v">
            <p>Débute</p>
        </div>
        <div class="date-input">
            <input type="date" placeholder="Date de debut" class="primary-input" [(ngModel)]="searchQuery.startDate">
        </div>

        <div class="hint center-v">
            <p>Fin </p>
        </div>
        <div class="date-input">
            <input type="date" placeholder="Date de debut" class="primary-input" [(ngModel)]="searchQuery.endDate">
        </div>
        <div class="control-icons">

            <i class="fa fa-times" (click)="clear()"></i>
            <i class="fa fa-search" (click)="search()"></i>
        </div>
    </div>
</div>