<div class="main-container">
    <div class="option" [class.selected]="selectedPage ==1" (click)="select(1)">
        <div class="center-v">
            <i class="fa fa-sliders-h"></i>
        </div>
        <span> General</span>
    </div>
    <div class="option drop-down-hover" *ngIf="!onlyGeneral">
        <div class="center-v">
            <i class="fa fa-stethoscope"></i>
        </div>
        <span> Diagnostique</span>
        <div class="drop-down">
            <div class="drop-down-option">
                <a (click)="openDiagnosis()">
                    <span>Diagnostique symptomatique</span>
                </a>
            </div>
            <div class="drop-down-option">
                <a (click)="openAdvancedDiagnosis()">
                    <span>Diagnostique Avances</span>
                </a>
            </div>
            <div class="drop-down-option" (click)="select(2)">
                <span>Historique</span>
            </div>
        </div>
    </div>

    <div class="option" [class.selected]="selectedPage ==3" (click)="select(3)" *ngIf="!onlyGeneral">
        <div class="center-v">
            <i class="fa fa-prescription-bottle-alt"></i>
        </div>
        <span> Ordonnance</span>
    </div>


    <div class="option" [class.selected]="selectedPage ==4" (click)="select(4)" *ngIf="!onlyGeneral">
        <div class="center-v">
            <i class="fa fa-vials"></i>
        </div>
        <span> Bilan</span>
    </div>
    <div class="option" [class.selected]="selectedPage ==5" (click)="select(5)" *ngIf="!onlyGeneral">
        <div class="center-v">
            <i class="fa fa-envelope-open-text"></i>
        </div>
        <span> certificats</span>
    </div>
    <div class="option" [class.selected]="selectedPage ==6" (click)="select(6)" *ngIf="!onlyGeneral">
        <div class="center-v">
            <i class="fa fa-file-medical-alt"></i>
        </div>
        <span>Documents</span>
    </div>
    <div class="option" *ngIf="!onlyGeneral" (click)="openVisitAppointment()">
        <div class="center-v">
            <i class="fa fa-calendar"></i>
        </div>
        <span>Rendez-vous</span>
    </div>
</div>