<div class="main-container">
    <div class="option" [class.selected]="selectedPage ==1" (click)="select(1)">
        <div class="center-v">
            <i class="fa fa-sliders-h"></i>
        </div>
        <span> General</span>
    </div>
    <div class="option drop-down-hover">
        <div class="center-v">
            <i class="fa fa-stethoscope"></i>
        </div>
        <span> Diagnostique</span>
        <div class="drop-down">
            <div class="drop-down-option">
                <a (click)="openDiagnosis()">
                    <span>Diagnostique symptomatique</span>
                </a>
            </div>
            <div class="drop-down-option">
                <a [queryParams]="{'pop-up-window' : true , 'window-page' : 'speciality-diagnosis' , 'title' : 'Diagnostic symptomatique'}" [routerLink]="">
                    <span>Diagnostique Avances</span>
                </a>
            </div>
        </div>
    </div>

    <div class="option" [class.selected]="selectedPage ==3" (click)="select(3)">
        <div class="center-v">
            <i class="fa fa-prescription-bottle-alt"></i>
        </div>
        <span> Ordonnance</span>
    </div>


    <div class="option" [class.selected]="selectedPage ==4" (click)="select(4)">
        <div class="center-v">
            <i class="fa fa-vials"></i>
        </div>
        <span> Bilan</span>
    </div>
    <div class="option" [class.selected]="selectedPage ==5" (click)="select(5)">
        <div class="center-v">
            <i class="fa fa-envelope-open-text"></i>
        </div>
        <span>Courrier</span>
    </div>
    <div class="option" [class.selected]="selectedPage ==6" (click)="select(6)">
        <div class="center-v">
            <i class="fa fa-file-medical-alt"></i>
        </div>
        <span>Documents</span>
    </div>
</div>