<div class="main-container">
    <div class="header stretch-container">
        <span>
            Nom
        </span>
        <span>
            Prénom 
        </span>
        <span>
            Date de n'essance
        </span>
        <span>
            teléphone
        </span>
        <span>
            Etat 
        </span>
        <span>
            montant payé
        </span>
        <span>
            credit
        </span>
        <span>
            period de la visit
        </span>
        <span>
            Date
        </span>
    </div>
    <div class="body primary-radius">
        <div class="visit-row" *ngFor="let visit of visits">
            <app-visit-row [visit]="visit"></app-visit-row>
        </div>
    </div>
</div>