<div class="main-container">
    <div class="header stretch-container">
        <span>
            Nom
        </span>
        <span>
            Prénom 
        </span>
        <span>
            Date de naissance
        </span>
        <span>
            Teléphone
        </span>
        <span>
            État 
        </span>
        <span>
            Montant payé
        </span>
        <span>
            Crédit
        </span>
        <span>
            Period
        </span>
        <span>
            Date
        </span>
    </div>
    <div class="body primary-radius">
        <div class="visit-row" *ngFor="let visit of visits">
            <app-visit-row [visit]="visit"></app-visit-row>
        </div>
        <p class="no-data-message" *ngIf="visits.length ==0 ">Désolé, aucune visite n'a été trouvée</p>

    </div>
</div>