.profil-card {
    background: white;
    padding: 16px;
}

.card-title {
    margin: 0px;
    margin-bottom: 16px;
}

.form-group {
    margin-top: 8px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

select {
    background: white;
    padding: 10px 16px;
    width: 100%;
    border: none;
    color: #212121;
    border: #cccccc solid 1px;
    border-radius: 8px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.is-invalid {
    border-color: rgb(254, 101, 85);
}

.card-row {
    margin: 16px 0px;
}

button {
    width: 180px !important;
    float: right;
}

.form-group input.ar {
    text-align: right;
}

.changed-message {
    margin-top: 8px;
    color: rgb(254, 101, 85);
    padding-right: 16px;
    font-size: 12px;
}

.changed-message i {
    font-size: 18px;
    margin-right: 8px;
}