<div class="main-container">
    <form name="form" [formGroup]="form" *ngIf="medicalFile" (keydown)="formSubmitted($event)">
        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <input type="text" placeholder="Nom" [(ngModel)]="medicalFile.name" class="primary-input" formControlName="name" [ngClass]="{'is-invalid' : form.get('name').touched && form.get('name').invalid}">
                    <div class="invalid-feedback" *ngIf="form.get('name').touched && form.get('name').invalid">
                        <div *ngIf="form.get('name').errors.required">le nom est requis</div>
                        <div *ngIf="form.get('name').errors.minlength">au moins 4 caractères</div>
                        <div *ngIf="form.get('name').errors.maxlength">moins de 20 caractères</div>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    <input type="text" placeholder="Prénom" class="primary-input" [(ngModel)]="medicalFile.lastname" formControlName="lastname" [ngClass]="{'is-invalid' : form.get('lastname').touched && form.get('lastname').invalid}">
                    <div class="invalid-feedback" *ngIf="form.get('lastname').touched && form.get('lastname').invalid">
                        <div *ngIf="form.get('lastname').errors.required">le prénom est requis</div>
                        <div *ngIf="form.get('lastname').errors.minlength">au moins 4 caractères</div>
                        <div *ngIf="form.get('lastname').errors.maxlength">moins de 20 caractères</div>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group" (click)="medicalFile.gender = true">
                    <div class="gender">
                        <label>Homme </label>
                        <i class="fa fa-check" [class.active]="medicalFile.gender === true"></i>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group" (click)="medicalFile.gender = false">
                    <div class="gender">
                        <label>Femme </label>
                        <i class="fa fa-check" [class.active]="medicalFile.gender === false"></i>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    <input class="primary-input" [(ngModel)]="medicalFile.birthday" type="date" placeholder="Date de naissance" formControlName="birthday" [ngClass]="{'is-invalid' : form.get('birthday').touched && form.get('birthday').invalid}">
                    <div class="invalid-feedback" *ngIf="form.get('birthday').touched && form.get('birthday').invalid">
                        <div *ngIf="form.get('birthday').errors.required">date de n'assance invalide</div>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">

            </div>
            <div style="clear: both;"></div>
            <div class="col col-md-6">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="primary-input" formControlName="email" [(ngModel)]="medicalFile.email" [ngClass]="{'is-invalid' : form.get('email').touched && form.get('email').invalid}">
                    <div class="invalid-feedback" *ngIf="form.get('email').touched && form.get('email').invalid">
                        <div *ngIf="form.get('email').errors.email">email invalide</div>
                    </div>
                </div>
            </div>

            <div class="col col-md-6">
                <div class="form-group">
                    <input type="text" placeholder="Numéro de telephone" class="primary-input" formControlName="phone" [(ngModel)]="medicalFile.phone" [ngClass]="{'is-invalid' : form.get('phone').touched && form.get('phone').invalid}">
                    <div class="invalid-feedback" *ngIf="form.get('phone').touched && form.get('phone').invalid">
                        <div *ngIf="form.get('phone').errors.required">Numéro de téléphone est requis</div>
                        <div *ngIf="form.get('phone').errors.pattern">Numéro de téléphone invalide</div>
                    </div>
                </div>
            </div>

            <div class="col col-md-6" *ngIf="medicalFile.address">
                <div class="form-group">
                    <label>
                        Addresse
                    </label>
                    <input type="text" placeholder="Addresse" [(ngModel)]="medicalFile.address.address" class="primary-input" formControlName="address" [ngClass]="{'is-invalid' : form.get('address').touched && form.get('address').invalid}">
                    <div class="invalid-feedback" *ngIf="form.get('address').touched && form.get('address').invalid">
                        <div *ngIf="form.get('address').errors.required">l'address est requis</div>
                        <div *ngIf="form.get('address').errors.minlength">au moins 4 caractères</div>
                        <div *ngIf="form.get('address').errors.maxlength">moins de 64 caractères</div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3" *ngIf="medicalFile.address && medicalFile.address.commune">
                <div class="form-group">
                    <label>wilaya</label>
                    <select (change)="wilayaSelected()" [(ngModel)]="medicalFile.address.commune.wilaya.id" formControlName="wilayaId" [ngClass]="{'is-invalid' : form.get('wilayaId').touched && form.get('wilayaId').invalid}">
                        <option  hidden [value]="undefined">Wilaya</option>
                        <option *ngFor="let wilaya of wilayas" [value]="wilaya.id">{{wilaya.name}}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="form.get('wilayaId').touched && form.get('wilayaId').invalid">
                        <div *ngIf="form.get('wilayaId').errors.required">wilaya est requis</div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3" *ngIf="medicalFile.address">
                <div class="form-group">
                    <div *ngIf="selectedWilaya">
                        <label>Commune</label>
                        <select formControlName="communeId" [(ngModel)]="medicalFile.address.commune.id" [ngClass]="{'is-invalid' : form.get('communeId').touched && form.get('communeId').invalid}">
                            <option *ngFor="let commune of selectedWilaya.communes" [value]="commune.id">{{commune.name}}</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="form.get('communeId').touched && form.get('communeId').invalid">
                            <div *ngIf="form.get('communeId').errors.required">wilaya est requis</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-6" *ngIf="medicalFile.profession">
                <div class="form-group">

                    <div class="center-v">
                        <label>Profession  </label>
                    </div>
                </div>
            </div>
            <div class="col col-md-6" *ngIf="medicalFile.profession">
                <div class="form-group">
                    <app-search-input [submittedItem]="medicalFile.profession" [placeholder]="'Recherché une profession'" [searchFunction]="professionSearchFunction"></app-search-input>
                </div>
            </div>

            <div class="antecedents-container primary-radius" *ngIf="showSubmitter">
                <app-antecedents-submitter (closeEvent)="blackWindowEvent.emit() ; showSubmitter = false" [antecedents]="medicalFile.antecedents"></app-antecedents-submitter>
            </div>
            <div class="col col-md-12">
                <label>
                    Antécédents
                </label>
                <span class="edit" (click)="showSubmitter = true ;blackWindowEvent.emit()">Éditer <i class="fa fa-edit"></i></span>
                <div class="antecedents-list">
                    <p class="no-data-message" *ngIf="medicalFile.antecedents.length == 0">il n'y a pas d'antécédents</p>
                    <span *ngFor="let antecedent of medicalFile.antecedents">{{antecedent.name}}</span>
                </div>
            </div>
            <div class="col col-md-12">
                <div class="controller">
                    <button class="secondary-button clear" (click)="clear()" *ngIf="!edit">Effacer</button>
                    <button *ngIf="!edit" class="primary-button" [disabled]="!form.valid" (click)="save()"> Sauvegarder <i class="fa fa-save"></i></button>
                    <button *ngIf="edit" class="primary-button" [disabled]="form.invalid" (click)="save()"> Éditer<i class="fa fa-edit"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>