.main-container {
    padding: 16px;
}

.form-group i {
    float: right;
    border: 1px solid rgb(254, 101, 85);
    padding: 2px;
    border-radius: 2px;
    color: transparent;
}

.form-group i.active {
    color: rgb(254, 101, 85);
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

select {
    background: white;
    padding: 10px 16px;
    width: 100%;
    border: none;
    color: #212121;
    border: #cccccc solid 1px;
    border-radius: 8px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.is-invalid {
    border-color: rgb(254, 101, 85);
}

.gender label {
    display: inline-block;
}

.gender {
    cursor: pointer;
}

.col {
    margin-bottom: 8px;
}

.clear {
    background: #eeeeee;
    border-radius: 8px;
    padding: 8px 16px;
    width: 120px;
    text-align: center;
    border: none;
    outline: none;
}

.controller .primary-button {
    float: right;
}

.antecedents-container {
    position: absolute;
    background: white;
    width: 680px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1), -2px -2px 16px rgba(0, 0, 0, 0.1);
}

.antecedents-list {
    max-height: 180px;
    height: 180px;
    overflow: auto;
}

.antecedents-list span {
    background: #eeeeee;
    padding: 8px 16px;
    border-radius: 20px;
    margin-top: 4px;
    margin-right: 8px;
    display: inline-block;
}

.edit {
    color: rgb(38, 94, 215);
    float: right;
    text-decoration: underline;
    cursor: pointer;
}