<div class="header">
    <app-header></app-header>
</div>
<div class="body">
    <div class="row">
        <div class="col col-md-8">
            <app-general-line-chart [updateAnalytics]="updateAnalytics" (periodSelectedEvent)="periodSelected($event)" *ngIf="analytics" [analytics]="analytics"></app-general-line-chart>
        </div>
        <div class="col col-md-4">
            <div class="evo-card" *ngFor="let evolution of evolutionParams">
                <app-evolution-cart [evolutionParam]="evolution"></app-evolution-cart>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col col-md-4">
            <app-general-waiting-room></app-general-waiting-room>
        </div>

        <div class="col col-md-4">
            <app-general-disease-report *ngIf="analytics" [analytics]="analytics"></app-general-disease-report>
        </div>
        <div class="col col-md-4">
            <app-general-subscription></app-general-subscription>
        </div>
    </div>
    <div class="row analytics-diagnosis">
        <div class="col col-md-12">
            <app-diagnosis-analytics></app-diagnosis-analytics>
        </div>
    </div>
</div>