<div class="main-container" *ngIf="loaded">
    <div class="login-form primary-radius">
        <div class="login-header">
            <img src="../../../assets/logo.png">
            <h5>S'identifier</h5>
        </div>
        <form name="form" [formGroup]="form">
            <div class="form-group">
                <label>Email</label>
                <input type="text" placeholder="Email" formControlName="email" [ngClass]="{'is-invalid' : form.get('email').touched && form.get('email').invalid}">
                <div class="invalid-feedback" *ngIf="form.get('email').touched && form.get('email').invalid">
                    <div *ngIf="form.get('email').errors.required">email est requis</div>
                    <div *ngIf="form.get('email').errors.email">email invalide</div>
                </div>
            </div>
            <div class="form-group">
                <label>mote de pass</label>
                <input type="password" placeholder="Mote pass" formControlName="password" [ngClass]="{'is-invalid' : form.get('password').touched && form.get('password').invalid}">
                <div class="invalid-feedback" *ngIf="form.get('password').touched && form.get('password').invalid">
                    <div *ngIf="form.get('password').errors.required">le mot de passe est requis</div>
                    <div *ngIf="form.get('password').errors.minlength">au moins 7 caractères</div>
                    <div *ngIf="form.get('password').errors.maxlength">moins de 20 caractères</div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6">

                </div>
                <div class="col col-md-6">
                    <button [disabled]="!form.valid" (click)="login()">identifier</button>
                </div>
            </div>
            <div class="create-account">
                <a routerLink="/sign-up">je n'ai pas de compte , créer un nouveau </a>
            </div>

        </form>
    </div>
</div>