<div class="main-container" *ngIf="loaded">
    <div class="login-form primary-radius">
        <div class="login-header">
            <img src="../../../assets/logo.png">
            <h5>Identifier</h5>
        </div>
        <form name="form" [formGroup]="form">
            <div class="form-group">
                <label>Email ou télephone</label>
                <input type="text" placeholder="email ou télephone" formControlName="email" [ngClass]="{'is-invalid' : form.get('email').touched && form.get('email').invalid}">
                <div class="invalid-feedback" *ngIf="form.get('email').touched && form.get('email').invalid">
                    <div *ngIf="form.get('email').errors.required">identifiant est requis</div>
                    <div *ngIf="form.get('email').errors.pattern">identifiant invalide</div>
                </div>
            </div>
            <div class="form-group">
                <label>Mot de passe</label>
                <input type="password" placeholder="mot de passe" formControlName="password" [ngClass]="{'is-invalid' : form.get('password').touched && form.get('password').invalid}">
                <div class="invalid-feedback" *ngIf="form.get('password').touched && form.get('password').invalid">
                    <div *ngIf="form.get('password').errors.required">le mot de passe est requis</div>
                    <div *ngIf="form.get('password').errors.minlength">au moins 7 caractères</div>
                    <div *ngIf="form.get('password').errors.maxlength">moins de 20 caractères</div>
                </div>
            </div>

            <div class="stretch-container error-message" *ngIf="errorMessage">
                <div class="center-v">
                    <i class="fa fa-exclamation"></i>
                </div>
                <p>{{errorMessage}}</p>

            </div>

            <div class="row">
                <div class="col col-md-6">

                </div>
                <div class="col col-md-6">
                    <button [disabled]="!form.valid" (click)="login()">identifier</button>
                </div>
            </div>
            <div class="create-account">
                <a routerLink="/sign-up">je n'ai pas de compte , créer un nouveau </a>
            </div>

        </form>
    </div>
</div>