    .visit-container {
        width: 100%;
        background: white;
        border-radius: 16px;
        margin-bottom: 16px;
        padding-bottom: 8px;
        position: relative;
        transition-duration: 1s;
        opacity: 1;
        background: white;
    }
    
    .relative-container {
        position: relative;
    }
    
    .image-side,
    .visit-done-container.done .image-side {
        max-width: 120px;
        min-width: 120px;
        height: 120px;
        position: relative;
    }
    
    .image-side img,
    .visit-done-container.done .image-side img {
        width: 86px;
        height: 86px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 8px;
    }
    
    .info-side,
    .visit-done-container.done .info-side {
        padding: 16px;
        display: block;
        min-width: 100%;
        max-height: 120px;
        overflow: hidden;
    }
    
    .info-side h5 {
        font-size: 18px;
        font-weight: bold;
        color: #555555;
        margin: 0px;
        margin-bottom: 6px;
        text-transform: capitalize;
    }
    
    p .hightlight {
        background: rgba(254, 101, 85, 0.2);
        border-radius: 20px;
        font-size: 10px;
    }
    
    p span {
        color: rgb(254, 101, 85);
        padding: 4px 6px;
        font-size: 10px;
    }
    
    p {
        font-size: 12px;
        color: #888888;
        margin: 0px;
        margin-top: 4px;
    }
    
    p i {
        color: rgb(38, 94, 215);
        margin-right: 8px;
    }
    
    @keyframes nextAnimation {
        0% {
            position: absolute;
            border-radius: 8px;
            width: 80%;
            left: 32px;
            transform: translateX(0px);
            background: rgba(255, 255, 255, 1);
            box-shadow: none;
            top: 64px;
        }
        30% {
            left: 32px;
            width: 64px;
            background: rgba(255, 255, 255, 0);
        }
        50% {
            border-radius: 50%;
            transform: translateX(0px);
            box-shadow: none;
        }
        100% {
            left: 100%;
            top: -16px;
            transform: translateX(-16px);
            box-shadow: 2px 4px 26px rgba(0, 0, 0, 0.07), -2px -2px 26px rgba(0, 0, 0, 0.07);
        }
    }
    
    @keyframes collapseHeight {
        0% {
            height: 160px;
        }
        100% {
            height: 0px;
        }
    }
    
    .visit-container.next .info-side,
    .visit-done-container .info-side,
    .visit-container.current-visit .info-side,
    .visit-container.fade-out .info-side {
        display: none;
    }
    
    .visit-container.next {
        animation: nextAnimation 1s;
        animation-timing-function: ease;
        position: absolute;
        padding: 0px;
        width: 64px;
        top: -16px;
        border-radius: 50%;
        z-index: 1;
        left: 100%;
        transform: translateX(-16px);
        box-shadow: 2px 4px 26px rgba(0, 0, 0, 0.07), -2px -2px 26px rgba(0, 0, 0, 0.07);
        background: rgba(255, 255, 255, 0);
    }
    
    .visit-done-container {
        position: absolute;
        top: -16px;
        width: 64px;
        border-radius: 50%;
        z-index: 1;
        left: 0%;
        transform: translateX(-16px);
        box-shadow: 2px 4px 26px rgba(0, 0, 0, 0.07), -2px -2px 26px rgba(0, 0, 0, 0.07);
        background: rgba(255, 255, 255, 0);
        margin-bottom: 16px;
        max-height: 148px;
    }
    
    .visit-container.next .image-side,
    .visit-done-container .image-side,
    .visit-container.current-visit .image-side,
    .visit-container.fade-out .image-side {
        width: 64px;
        height: 64px;
        transition-duration: 0s;
    }
    
    .visit-container.next .image-side img,
    .visit-done-container .image-side img,
    .visit-container.current-visit .image-side img,
    .visit-container.fade-out .image-side img {
        left: 0px;
        top: 0px;
        width: 64px;
        height: 64px;
        transform: translate(0%, 0%);
        transition-duration: 0s;
        border-radius: 50%;
    }
    
    #extra-margin {
        animation: collapseHeight 1.5s;
        height: 0px;
    }
    
    @keyframes doneAnimation {
        0% {
            left: 0%;
            transform: translateX(-16px);
            top: -16px;
            width: 64px;
            box-shadow: none;
        }
        30% {
            left: 0px;
            top: 44px;
            transform: translateX(0px);
        }
        50% {
            width: 100%;
        }
        100% {
            border-radius: 16px;
        }
    }
    
    .visit-done-container.done {
        animation: doneAnimation 1s;
        animation-timing-function: ease;
        width: 100%;
        border-radius: 16px;
        transform: translateX(0px);
        box-shadow: none;
        position: absolute;
        max-height: 148px;
        top: 44px;
    }
    
    .visit-container.current-visit,
    .visit-container.fade-out {
        position: absolute;
        top: -16px;
        width: 64px;
        border-radius: 50%;
        z-index: 1;
        left: 100%;
        transform: translateX(-16px);
        box-shadow: 2px 4px 26px rgba(0, 0, 0, 0.07), -2px -2px 26px rgba(0, 0, 0, 0.07);
        background: rgba(255, 255, 255, 0);
        padding: 0px;
    }
    
    i.round {
        width: 8px;
        height: 8px;
        background: rgb(254, 101, 85);
        border-radius: 50%;
        display: inline-block;
    }
    
    .bottom-side p {
        margin: 0px;
        width: 50%;
        text-align: center;
    }
    
    .visit-container.next .bottom-side,
    .visit-done-container .bottom-side,
    .visit-container.current-visit .bottom-side,
    .visit-container.fade-out .bottom-side {
        display: none;
    }
    
    .visit-done-container.done .bottom-side {
        display: flex;
    }
    
    @keyframes expandHeight {
        from {
            height: 0px;
        }
        to {
            height: 148px;
        }
    }
    
    #init-margin {
        animation: expandHeight 0.5s;
        height: 148px;
        width: 100%;
        margin-bottom: 16px;
    }
    
    .visit-container.end-animation {
        position: static;
    }
    
    .controller {
        position: absolute;
        right: 16px;
        width: auto;
        top: 50%;
        transform: translateY(-50%);
        transition-duration: 0.3s;
        opacity: 0;
    }
    
    .controller span {
        display: block;
        font-size: 10px;
        background: rgb(38, 94, 215);
        margin: 16px 0px;
        color: white;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        transition-duration: 0.3s;
    }
    
    .visit-container:hover .controller {
        transition-duration: 0.3s;
        opacity: 1;
    }
    
    .controller span:hover {
        color: rgb(38, 94, 215);
        background: white;
    }
    
    .controller span i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .controller span:after {
        content: "jskds";
        position: absolute;
        right: 100%;
        background: white;
        color: rgb(38, 94, 215);
        padding: 4px 6px;
        border-radius: 20px;
        width: 100px;
        text-align: center;
        box-shadow: 1px 1px 26px rgba(0, 0, 0, 0.1), -1px -1px 16px rgba(0, 0, 0, 0.1);
        display: none;
        opacity: 0;
        transition-duration: 0.3s;
        z-index: 1;
    }
    
    .controller span:hover:after {
        display: block;
        opacity: 1;
    }
    
    .controller span.edit:after {
        content: "Éditer";
    }
    
    .controller span.visit:after {
        content: "lancer";
    }
    
    .controller span.igonre:after {
        content: "Annuler";
    }
    
    .controller span.restore:after {
        content: "Renouvler";
    }
    
    .controller span.out-visit:after {
        content: "Pause";
    }
    
    .controller span.start-visit:after {
        content: "Lancer";
    }
    
    .controller span.paye-visit:after {
        content: "Paiment"
    }
    
    .controller span.visit-done:after {
        content: "Terminer"
    }
    
    .visit-container.fade-in {
        opacity: 0;
    }
    
    .visit-container.fade-out {
        opacity: 1;
        position: absolute;
        transition-duration: 0s;
    }
    
    .visit-container.hide {
        display: none;
    }
    
    .visit-container.ignore {
        opacity: 1;
        background: #eeeeee;
    }
    
    .new-controller {
        z-index: 1;
        width: 100%;
        right: 0px;
        top: 0px;
        transform: translateY(0%);
        height: 100%;
        border-radius: 50%;
        background: rgba(38, 94, 215, 0.3);
        display: flex;
        align-items: center;
    }
    
    .new-controller span {
        position: absolute;
        bottom: -26px;
        margin: 0px;
        left: 0px;
    }
    
    .new-controller span.out-visit {
        left: -22px;
        bottom: -4px;
    }
    
    .new-controller span.start-visit {
        left: 50%;
        transform: translateX(-50%);
    }
    
    .new-controller span.visit-done {
        right: -22px;
        left: 100%;
        bottom: -4px;
    }
    
    .new-controller span:after {
        right: 0px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -26px;
    }