<div class="visit-container" [class.ignore]="ignore" [class.hide]="hide && !fadeOut" [class.fade-in]="fadeIn" [class.fade-out]="fadeOut" [class.next]="next" *ngIf="!done" [class.current-visit]="currentVisit">
    <div class="relative-container">
        <div class="stretch-container">
            <div class="image-side">
                <img src="{{(visit.medicalFile.gender)? ('../../../../../../../../assets/male.jpg') : ('../../../../../../../../assets/female.jpg')}} ">
            </div>
            <div class="info-side">
                <h5>{{visit.medicalFile.name}} {{visit.medicalFile.lastname}}</h5>
                <p>
                    <i class="fa fa-clock"></i> Heure d'arrivée <span class="hightlight">{{visit.arrivalTime}}</span>
                </p>
                <p>
                    <i class="fa fa-sort-amount-up"></i>order
                    <span>
                        {{visit.order}}{{(visit.order == 1) ? ("er") : ("ème")}}
                    </span>
                </p>
                <p>
                    <i class="round"></i>
                    <span>{{frStatus( visit.status ) }}</span>
                </p>
            </div>
        </div>
        <div class="bottom-side stretch-container">
            <p>
                <i class="fa fa-envelope"></i> {{(visit.medicalFile.email)? (visit.medicalFile.email) : ("Inconnue")}}
            </p>
            <p>
                <i class="fa fa-phone"></i> {{(visit.medicalFile.phone)? (visit.medicalFile.phone) : ("Inconnue")}}
            </p>
        </div>

        <div class="controller" *ngIf="controllable && !ignore && !next && !currentVisit">
            <span class="edit" (click)="editVisit ( )">
                <i class="fa fa-edit"></i>
            </span>
            <span class="visit" (click)="toVisit()">
                <i class="fa fa-heartbeat"></i>
            </span>
            <span class="igonre" (click)="ignoreVisit()">
                <i class="fa fa-times" ></i>
            </span>
        </div>

        <div class="controller" *ngIf="ignore">
            <span class="restore" (click)="restoreVisit()">
                <i class="fa fa-sync-alt"></i>
            </span>
        </div>

        <div class="new-controller controller" *ngIf="controllable && new || currentVisit">
            <span class="out-visit" (click)="outVisit()">
                <i class="fa fa-pause"></i>
            </span>
            <span class="start-visit">
                <i class="fa fa-heartbeat" (click)="startVisit()"></i>
            </span>
            <span class="visit-done" (click)="visitDone ()">
                <i class="fa fa-check"></i>
            </span>
        </div>
    </div>

</div>
<div class="visit-container" [class.end-animation]="endAnimation" [class.visit-done-container]="newDone" [class.done]="doneAnimate" *ngIf="done">
    <div class="stretch-container">
        <div class="image-side">
            <img src="{{(visit.medicalFile.gender)? ('../../../../../../../../assets/male.jpg') : ('../../../../../../../../assets/female.jpg')}} ">
        </div>
        <div class="info-side">
            <h5>{{visit.medicalFile.name}} {{visit.medicalFile.lastname}}</h5>
            <p>
                <i class="fa fa-clock"></i> de <span class="hightlight"> {{visit.startTime}}</span> à <span class="hightlight">   {{visit.endTime}}</span>
            </p>
            <p>
                <i class="fa fa-money-bill-wave"></i>Montant Total <span>{{totalMoney}} DA</span>
            </p>

            <p *ngIf="visit.status =='visit payed' ">
                Paiment <span>{{visit.payedMoney}} DA</span> Crédit <span>{{visit.debt}} DA</span>
            </p>
            <p *ngIf="visit.status == 'visit done'">
                <i class="round"></i>
                <span>{{frStatus( visit.status ) }}</span>
            </p>
        </div>
    </div>
    <div class="bottom-side stretch-container">
        <p>
            <i class="fa fa-envelope"></i> {{(visit.medicalFile.email)? (visit.medicalFile.email) : ("Inconnue")}}
        </p>
        <p>
            <i class="fa fa-phone"></i> {{(visit.medicalFile.phone)? (visit.medicalFile.phone) : ("Inconnue")}}
        </p>
    </div>

    <div class="controller" *ngIf="controllable">
        <span class="paye-visit" (click)="payeVisit()">
            <i class="fa fa-money-bill"></i>
        </span>
    </div>

</div>
<div id="extra-margin" *ngIf="next"></div>

<div id="init-margin" *ngIf="doneAnimate && !endAnimation"></div>