<div class="main-container">
    <div class="header stretch-container">
        <span>
            Nom
        </span>
        <span>
            Prénom 
        </span>
        <span id="width-70">
            Date de n'essance
        </span>
        <!--
        <span>
            address 
        </span>
        <span>
            wilaya
        </span>
        <span>
            commune
        </span>
    -->
        <span>
            teléphone
        </span>
        <span>
            email
        </span>
        <span>
            Etat 
        </span>
        <span>
            montant payé
        </span>
        <span>
            credit
        </span>
        <span>
            period de la visit
        </span>
    </div>
</div>