<div id="container">
    <div class="main-container primary-radius">
        <div class="antecedents-submitter primary-radius" *ngIf="showAntecedentsManager">
            <app-antecedents-submitter (closeEvent)="showAntecedentsManager = false" [antecedents]="searchQuery.antecedents"></app-antecedents-submitter>
        </div>
        <div class="row">
            <div class="col col-md-12">
                <h5>Antécédents <span (click)="showAntecedentsManager = true">Éditer <i class="fa fa-edit"></i></span></h5>
                <div class="antecedents-container">
                    <p class="no-data-message" *ngIf="searchQuery.antecedents.length == 0">Pas d'Antécédents</p>
                    <span *ngFor="let antecedent of searchQuery.antecedents">{{antecedent.name}}</span>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="center-v">
                    <label>Prefession</label>
                </div>
            </div>
            <div class="col col-md-6">
                <select [(ngModel)]="searchQuery.professionId">
                <option [value]="undefined">Tout</option>
                <option *ngFor="let profession of professions"[value]="profession.id">{{profession.name }}</option>
            </select>
            </div>
            <div class="col col-md-12">
                <app-date-interval (changeEvent)="onDateChanged($event)" [placeholder]="'Date de création'"></app-date-interval>
            </div>
            <div class="col col-md-12">
                <div class="row">
                    <div class="col col-md-6"></div>
                    <div class="col col-md-6">
                        <button class="primary-button" (click)="valid()">Valider <i class="fa fa-check"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>