.main-container {
    width: 980px;
    padding: 16px;
}

.left-side {
    max-width: 300px;
    min-width: 300px;
    position: relative;
    margin-right: 16px;
    background: white;
    padding: 16px;
}

.right-side {
    width: 100%;
}

.speciality {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 20px;
    border: 1px solid #eeeeee;
    margin-right: 8px;
    font-size: 14px;
    color: #666666;
}

.speciality.selected {
    color: rgb(38, 94, 215);
    border-color: rgb(38, 94, 215);
}

.controller {
    display: block;
    width: 100%;
    background: white;
    margin-top: 16px;
}

.speciality-container {
    display: block;
    width: 100%;
    position: relative;
}

.speciality-container button {
    background: white;
    border: none;
    color: white;
    width: 100%;
    padding: 12px 16px;
    outline: none;
    border-radius: 20px;
    background: rgba(38, 94, 215, 0.8);
}

.collections {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-top: 16px;
    background: white;
    height: 380px;
}

.collections li {
    padding: 8px 16px;
    font-size: 12px;
    color: #555555;
    cursor: pointer;
    border-radius: 6px;
    transition-duration: 0.3s;
    margin: 4px;
    text-transform: capitalize;
    border-radius: 20px;
}

.collections li:hover {
    background: #eeeeee;
}

.collections li.selected {
    background: rgba(38, 94, 215, 0.1);
    color: rgba(38, 94, 215, 0.8);
}

.controller button {
    float: right;
    width: 50%;
}