<div class="main-container stretch-container" *ngIf="!showResult">
    <div class="left-side primary-radius">

        <select (change)="onSpecialityChanged()" [(ngModel)]="specialityId">
            <option *ngFor="let speciality of specialities" [value]="speciality.id">
                {{speciality.name}}
            </option>
        </select>

        <ul *ngIf="selectedSpeciality" class="collections primary-radius">
            <li *ngFor="let collection of selectedSpeciality.neuronCollections" (click)="selectCollection(collection)" [class.selected]="selectedCollection && collection.id == selectedCollection.id">
                {{collection.name}}
            </li>
        </ul>
        <div class="controller">
            <button class="primary-button" (click)="submit()">Analyser</button>
            <div style="clear:both"></div>
        </div>
    </div>
    <div class="right-side">
        <app-image-viewer [initImage]="image" (imageSelectedEvent)="onImageSelected($event)"></app-image-viewer>
    </div>
</div>
<app-diagnosis-result *ngIf="showResult" (backEventListener)="back()"></app-diagnosis-result>