<app-header></app-header>
<div class="main-container row">
    <div class="col col-md-5">
        <app-general-information></app-general-information>
    </div>
    <div class="col col-md-7">
        <app-cabinet-information></app-cabinet-information>
    </div>
    <div style="clear: both;"></div>
    <div class="col col-md-12">
        <div class="row cabinet-params-container primary-radius">
            <div class="col col-md-5">
                <app-assistant-manager></app-assistant-manager>
            </div>
            <div class="col col-md-7">
                <app-medical-act-manager></app-medical-act-manager>
            </div>
        </div>
    </div>
</div>