p {
    font-weight: bold;
    padding: 4px 16px;
    border: 1px solid transparent;
    border-radius: 20px;
    transition-duration: 0.3s;
    cursor: pointer;
}

p i {
    color: rgb(38, 94, 215);
    padding-top: 2px;
    margin-right: 4px;
}

p:not(.check-ups p):hover {
    border-color: #eee;
}

.check-ups {
    max-height: 220px;
    margin: 0px;
    overflow: auto;
}

.control {
    float: right;
    margin-left: 4px;
    cursor: pointer;
    opacity: 0;
}

.control.fa-trash {
    color: rgb(254, 101, 85);
}

.main-container:hover .control {
    opacity: 1;
}

.check-ups p {
    color: #888;
    font-size: 12px;
    font-weight: 100;
    position: relative;
}

.check-ups p span {
    color: #212121;
}

.check-ups p i {
    float: right;
    border-radius: 50%;
    padding: 6px 7px;
    position: relative;
    background: rgb(38, 94, 215);
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
}