::ng-deep .NgxEditor {
    height: 420px;
}

h5 {
    color: #212121;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 16px;
}

h5 i {
    margin-right: 16px;
    padding: 6px 8px;
    color: rgb(38, 94, 215);
    border-radius: 50%;
    cursor: pointer;
}

h5 i:hover {
    background: rgb(38, 94, 215);
    color: white;
}

.stretch-container {
    margin-top: 16px;
}

.stretch-container .form-group {
    width: 100%;
}

.stretch-container button {
    width: 160px;
    height: 42px;
    max-width: 160px;
    min-width: 160px;
    margin-left: 16px;
}

.empty-submitter {
    margin-top: 16px
}

.empty-submitter span {
    background: white;
    border: 1px solid rgb(38, 94, 215);
    color: rgb(38, 94, 215);
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    padding: 4px 16px;
    transition-duration: 0.3s;
}

.empty-submitter span:hover {
    background: rgb(38, 94, 215);
    color: white;
}

.form-group {
    position: relative;
}