.visit-container {
    background: white;
    padding: 8px 12px;
    transition-duration: 0.3s;
    cursor: pointer;
    text-align: center;
}

span {
    width: 50%;
    color: #777;
    font-size: 12px;
}

span.red {
    color: rgb(254, 101, 85);
}

.visit-container:hover {
    background: #eee;
}

.cap {
    text-transform: capitalize;
}