<div class="visit-container" (click)="openDetails()">
    <div class="stretch-container">
        <span>{{visit.medicalFile.name}}</span>
        <span>{{visit.medicalFile.lastname}}</span>
        <span>{{visit.medicalFile.birthday}}</span>
        <span>{{visit.medicalFile.phone}}</span>
        <span class="red">{{visit.status}}</span>
        <span>{{visit.payedMoney}} DA</span>
        <span>{{visit.debt}} DA</span>
        <span>{{(visitPeriod) ? (visitPeriod) : ("Inconnue")}}</span>
        <span>{{visitDate}}</span>
    </div>
</div>