.visit-container {
    background: white;
    padding: 8px 12px;
    transition-duration: 0.3s;
    cursor: pointer;
}

span {
    width: 50%;
    color: #555555;
    font-size: 13px;
}

span.red {
    color: rgb(254, 101, 85);
}

.visit-container:hover {
    background: #eee;
}