<div class="main-container">
    <div>
        <app-debt-search-header [searchQuery]="lastSearch" (searchEvent)="search($event)"></app-debt-search-header>
    </div>
    <div class="header stretch-container">
        <span>
            Nom
        </span>
        <span>
            Prénom 
        </span>
        <span>
            Date de naissance
        </span>
        <span>
            Teléphone
        </span>
        <span>
            Email 
        </span>
        <span>
            Montant payé
        </span>
        <span>
            Crédit
        </span>
        <span>
            Deriner Visite
        </span>
    </div>
    <div class="body  primary-radius">
        <div class="visit-container" (click)="editDebt(visit)" *ngFor="let visit of visits">
            <div class="stretch-container">
                <span>{{visit.medicalFile.name}}</span>
                <span>{{visit.medicalFile.lastname}}</span>
                <span>{{frDate(  visit.medicalFile.birthday )}}</span>
                <span>{{(visit.medicalFile.phone) ? (visit.medicalFile.phone) : ("Inconnue")}}</span>
                <span>{{(visit.medicalFile.email) ? (visit.medicalFile.email) : ("Inconnue")}}</span>
                <span>{{visit.payedMoney}} DA</span>
                <span>{{visit.debt}} DA</span>
                <span>{{frDate ( visit.createdAt ) }}</span>
            </div>
        </div>
    </div>

    <div class="pagination-container">
        <app-pagination (pageSelected)="selectPage($event)" [count]="count" [loaded]="visits.length" [offset]="offset" [limit]="limit"></app-pagination>
    </div>
</div>