<div class="main-container">
    <app-header></app-header>
    <div class="body row">
        <div class="col col-md-8">
            <div class="card primary-radius">
                <app-general-analytics [updateSubject]="updateSubject" (periodSelectedEvent)="periodSelected($event)" *ngIf="analytics" [analytics]="analytics"></app-general-analytics>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="card primary-radius">
                <app-group-analytics [updateSubject]="updateSubject" *ngIf="analytics" [analytics]="analytics"></app-group-analytics>
            </div>
        </div>
        <div class="col col-md-12">
            <div class="evo-card">
                <app-evolution-analytics [period]="period" [updateSubject]="updateSubject" *ngIf="analytics" [analytics]="analytics"></app-evolution-analytics>
            </div>
        </div>

        <div class="col col-md-4">
            <div class="card primary-radius evo-card">
                <app-comming-appointments></app-comming-appointments>
            </div>
        </div>
        <div class="col col-md-8">
            <div class="card primary-radius evo-card">
                <app-recent-patients></app-recent-patients>
            </div>
        </div>
        <div class="col col-md-12">
            <app-location-analytics></app-location-analytics>
        </div>

    </div>
</div>