<div class="main-container">
    <app-header></app-header>
    <div class="body row">
        <div class="col col-md-8">
            <div class="card primary-radius">
                <app-general-analytics [updateSubject]="updateSubject" (periodSelectedEvent)="periodSelected($event)" *ngIf="analytics" [analytics]="analytics"></app-general-analytics>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="card primary-radius">
                <app-group-analytics *ngIf="analytics" [analytics]="analytics"></app-group-analytics>
            </div>
        </div>
        <div class="col col-md-12">
            <div class="evo-card">
                <app-evolution-analytics *ngIf="analytics" [analytics]="analytics"></app-evolution-analytics>
            </div>
        </div>
    </div>
</div>