.main-container {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    background: #212121;
    padding: 16px;
    width: 360px;
    color: white;
    font-size: 12px;
    animation: popUp 1s;
    z-index: 999;
    border-radius: 4px;
}

.main-container p {
    width: 100%;
    margin: 0px;
    font-size: 14px;
}

@keyframes popUp {
    from {
        bottom: -26px;
        opacity: 0;
    }
    to {
        bottom: 16px;
        opacity: 1;
    }
}

.icon-v {
    min-width: 56px;
    max-width: 56px;
    margin-right: 8px;
}

.icon-v i {
    display: block;
    margin: 0px auto;
    padding: 8px 0px;
    width: 40px;
    text-align: center;
    font-size: 18px;
    border: 3px solid white;
    border-radius: 50%;
}

.stretch-container.success .icon-v i {
    background: rgb(38, 94, 215);
}

.stretch-container.fail .icon-v i {
    background: rgb(254, 101, 85);
}