.main-container {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    background: #212121;
    padding: 16px;
    width: 260px;
    color: white;
    font-size: 12px;
    animation: popUp 1s;
    z-index: 999;
}

.main-container i {
    min-width: 26px;
    max-width: 26px;
}

.main-container p {
    width: 100%;
    margin: 0px;
}

@keyframes popUp {
    from {
        bottom: -26px;
        opacity: 0;
    }
    to {
        bottom: 16px;
        opacity: 1;
    }
}