.main-container {
    background: white;
    position: relative;
    padding: 16px;
    height: 380px;
}

h5 {
    font-weight: 600;
    font-size: 16px;
    margin: 0px;
    margin-bottom: 16px;
}

.canvas-container {
    margin-top: 64px;
}

canvas {}