<div class="main-container primary-radius" (click)="clickEvent.emit()">

    <div class="image-container">
        <img src="{{document.path}}">
        <p>
            {{document.name}}
        </p>
    </div>
    <div class="description-container" *ngIf="!patientInfo">
        <p *ngIf="document.description">{{document.description}}</p>
        <p *ngIf="!document.description" class="no-desc">
            Description indisponible
        </p>
    </div>
    <div class="document-info" *ngIf="patientInfo">
        <app-document-info [document]="document"></app-document-info>
    </div>
</div>