<div class="main-container primary-radius">
    <div class="control">
        <span (click)="edit()">Modifier <i class="fa fa-edit"></i></span>
        <span (click)="delete()">Suprimer<i class="fa fa-trash"></i></span>
    </div>
    <div class="image-container">
        <img src="{{document.path}}">
        <p>
            {{document.name}}
        </p>
    </div>
    <div class="description-container">
        <p *ngIf="document.description">{{document.description}}</p>
        <p *ngIf="!document.description" class="no-desc">
            Aucun Description pour ce document
        </p>
    </div>
</div>