.main-container {
    font-size: 12px;
    padding: 6px 8px;
    transition-duration: 0.3s;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}

.main-container p i {
    float: right;
    padding: 4px;
    border: 1px solid #eee;
    border-radius: 4px;
    display: inline-block;
    margin-top: -2px;
    color: transparent;
}

.main-container:hover i {
    border-color: rgb(38, 94, 215);
    color: rgb(38, 94, 215);
}

.main-container i.selected {
    border-color: rgb(38, 94, 215) !important;
    color: rgb(38, 94, 215) !important;
}

.main-container p {
    margin: 0px;
}

.main-container:hover {
    background: #eee;
}

.main-container:hover .control {
    opacity: 1;
}

.control {
    position: absolute;
    right: 8px;
    top: 0px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

.control i {
    margin-left: 4px;
    font-size: 14px;
}

.control i.fa-edit {
    color: rgb(38, 94, 215);
}

.control i.fa-trash {
    color: rgb(254, 101, 85);
}