.header {
    background: white;
    margin-bottom: 16px;
}

.body {
    background: white;
    padding: 16px;
    position: relative;
    height: 680px;
}

.body.no-controllable {
    height: 742px;
}