<div class="main-container">
    <div class="header primary-radius">
        <app-appointments-controller (nextEvent)="next()" [waitingRoom]="waitingRoom"></app-appointments-controller>
    </div>
    <div class="body primary-radius">
        <div class="row">
            <div class="col col-md-6">
                <app-patients-list (outVisitEvent)="outVisit($event)" (restoreVisitEvent)="restoreVisit($event)" (ignoreVisitEvent)="ignoreVisit($event)" (inVisitEvent)="inVisit($event)" [currentVisit]="currentVisit" [header]="'visites d\'attente'" [color]="'rgb(254, 101, 85)'"
                    [visits]="waitingVisits" [nextSubject]="nextSubject"></app-patients-list>
            </div>
            <div class="col col-md-6">
                <app-patients-list [done]="true" [header]="'visites terminées'" [color]='"rgb(38, 94, 215)"' [visits]="visitsDone"></app-patients-list>
            </div>
        </div>
    </div>
</div>