<div class="main-container">
    <h5 class="card-title">Gestion des assistants</h5>
    <div class="body">
        <div class="assistants-container">
            <div class="assistant" *ngFor="let assistant of assistants">
                <app-assistant [assistant]="assistant" (removeEvent)="remove($event)"></app-assistant>
            </div>

        </div>
        <div class="controller">
            <a [routerLink]="" class="primary-button" [queryParams]="{'pop-up-window' : true , 'window-page' : 'assistant-submitter'}">Ajouter Assistant <i class="fa fa-plus"></i></a>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>