.main-container {
    padding: 16px;
}

.header h5 {
    margin: 0px;
    font-weight: bold;
    color: #212121;
    width: 100%;
    padding-top: 8px;
}

.header button {
    max-width: 160px;
    min-width: 160px;
}

.header {
    margin-bottom: 16px;
}

.no-data-message {
    margin-top: 16px;
}

.body {
    height: 580px;
    max-height: 580px;
    overflow: auto;
}