i {
    background: rgb(38, 94, 215);
    color: white;
    padding: 10px 12px;
    border-radius: 50%;
}

.icon-container {
    height: 100%;
    width: 100%;
    text-align: right;
    margin-top: 4px;
}

select {
    background: white;
    padding: 10px 16px;
    width: 100%;
    border: none;
    color: #212121;
    border: #cccccc solid 1px;
    border-radius: 8px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.is-invalid {
    border-color: rgb(254, 101, 85);
}

.list {
    height: 260px;
    max-height: 260px;
    overflow: auto;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
}

.antecedent .icon-container {
    width: 36px;
    margin-top: 0px;
    cursor: pointer;
}

.antecedent {
    margin-top: 8px;
    color: #555555;
}

.antecedent i {
    color: rgb(254, 101, 85);
    background: transparent;
    transition-duration: 0.3s;
    font-size: 12px;
    padding: 8px 9px;
}

.antecedent i:hover {
    background-color: rgb(254, 101, 85);
    color: white;
}

.type {
    max-width: 80px;
    min-width: 80px;
    text-align: center;
    margin-right: 56px;
    color: #212121;
    font-weight: bold;
    display: grid;
    align-items: center;
}

.name {
    width: 100%;
    display: grid;
    align-items: center;
}