<div class="main-container">
    <h5>
        Gestion des antecedents <i class="fa fa-times" (click)="closeEvent.emit()"></i>
    </h5>
    <div class="stretch-container">
        <div class="types">
            <div class="type" *ngFor="let type of types" (click)="submittedAntecedent.type = type" [class.selected]="submittedAntecedent.type == type">
                {{type}}
            </div>
            <div class="type" [class.selected]="submittedAntecedent.type == null" (click)="submittedAntecedent.type = null">
                Autre
            </div>
        </div>
        <div class="submitter">
            <div class="submitter-input">
                <app-search-input [searchFunction]="searchFunction" (searchSubmitted)="addAntecedent()" [submittedItem]="submittedAntecedent" [placeholder]="'Recherché un antecdent'"></app-search-input>
            </div>
            <div class="antecedent stretch-container" *ngFor="let antecedent of getAntecedents()">
                <div class="name">
                    {{antecedent.name}}
                </div>
                <div class="ant-type">
                    {{(antecedent.type) ? (antecedent.type) : ("Inconnue")}}
                </div>
                <div class="icon-container">
                    <i class="fa fa-trash" (click)="deleteAntecedent(antecedent)"></i>
                </div>
            </div>
        </div>
    </div>
</div>