.main-container {
    padding: 16px;
}

.types {
    width: 140px;
    max-width: 140px;
    min-width: 140px;
}

.types .type {
    margin: 8px 0px;
    padding: 4px 8px;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    text-align: center;
    color: #888888;
    cursor: pointer;
    transition-duration: 0.3s
}

.types .type:hover {
    border-color: rgb(38, 94, 215);
    color: rgb(38, 94, 215);
}

.submitter {
    width: 100%;
}

.type.selected {
    border-color: transparent;
    color: white !important;
    background-color: rgb(38, 94, 215);
}

.submitter-input {
    width: 200px;
}

.submitter {
    padding: 8px 16px;
}

.antecedent .icon-container {
    width: 36px;
    margin-top: 0px;
    cursor: pointer;
}

.antecedent {
    margin-top: 8px;
    color: #555555;
}

.antecedent i {
    color: rgb(254, 101, 85);
    background: transparent;
    transition-duration: 0.3s;
    font-size: 12px;
    padding: 8px 9px;
    border-radius: 50%;
}

.antecedent i:hover {
    background-color: rgb(254, 101, 85);
    color: white;
}

.name {
    width: 100%;
    display: grid;
    align-items: center;
}

.ant-type {
    max-width: 80px;
    min-width: 80px;
    text-align: center;
    margin-right: 56px;
    color: #212121;
    font-weight: bold;
    display: grid;
    align-items: center;
}

.icon-container {
    height: 100%;
    width: 100%;
    text-align: right;
    margin-top: 4px;
}

h5 {
    margin: 0px;
    color: #212121;
    font-weight: bold;
    margin-bottom: 16px;
}

h5 i {
    float: right;
    cursor: pointer;
}