.header span {
    width: 50%;
}

.header {
    background: rgb(38, 94, 215);
    color: white;
    padding: 4px 16px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 12px;
    margin: 16px -8px;
    text-align: center;
}

.body {
    overflow-x: hidden;
    overflow-y: auto;
    height: 460px;
    max-height: 460px;
    overflow: auto;
}

.appointment-row {
    background: white;
    padding: 8px 12px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.appointment-row:hover {
    background: #eee;
}

.appointment-row span {
    width: 50%;
    color: #777;
    font-size: 13px;
    text-align: center;
}