<div class="main-container">
    <div class="search-header">
        <app-rdvsearch-header [searchQuery]="lastSearch" (searchEvent)="search($event)" [startDate]="startDate"></app-rdvsearch-header>
    </div>
    <div class="header stretch-container">
        <span>
            Nom
        </span>
        <span>
            Prénom 
        </span>
        <span>
            Date de naissance
        </span>
        <span>
            Teléphone
        </span>
        <span>
            Email
        </span>
        <span>
            Dernier visite
        </span>

        <span>
            Date de RDV
        </span>
        <span>
            Temps 
        </span>

    </div>
    <div class="body primary-radius">
        <p class="no-data-message" *ngIf="appointments.length == 0">Aucun Rendez-vous n'a été trouvé</p>
        <div class="appointment-row" (click)="editAppointment(appointment)" *ngFor="let appointment of appointments">
            <div class="stretch-container">
                <span>{{appointment.visit.medicalFile.name}}</span>
                <span>{{appointment.visit.medicalFile.lastname}}</span>
                <span>{{appointment.visit.medicalFile.birthday }}</span>
                <span>{{(appointment.visit.medicalFile.phone)? (appointment.visit.medicalFile.phone) : ("Inconnue")}}</span>
                <span>{{(appointment.visit.medicalFile.email)? (appointment.visit.medicalFile.email) : ("Inconnue")}}</span>
                <span>{{appointment.visit.createdAt}}</span>
                <span>{{ castFrDate(appointment.date) }}</span>
                <span>{{(appointment.time) ? (appointment.time) : ("Inconnue")}}</span>
            </div>
        </div>
    </div>
    <app-pagination (pageSelected)="selectPage($event)" [count]="count" [loaded]="appointments.length" [offset]="offset" [limit]="limit"></app-pagination>

</div>