.main-container {
    padding: 16px;
    width: 460px;
}

.model-container {
    padding: 16px;
    width: 560px;
}

.content {
    background: white;
    padding: 16px;
}

h5 {
    font-weight: bold;
    color: #212121;
    margin: 0px;
    margin-bottom: 16px
}

.list {
    height: 360px;
    max-height: 360px;
    overflow: auto;
}

.model:hover {
    background: #eeee;
}

.model {
    margin: 8px 0px;
    color: #555;
    font-size: 14px;
    padding: 4px 12px;
    border-radius: 20px;
    transition-duration: 0.3s;
    cursor: pointer;
}

#create-model {
    color: rgb(254, 101, 85);
    cursor: pointer;
}