<div class="main-container stretch-container">

    <div class="image-side">
        <img src="{{(medicalFile.gender)? ('../../../../../../../../assets/male.jpg') : ('../../../../../../../../assets/female.jpg')}} ">
    </div>
    <div class="info-side">
        <h5>{{medicalFile.name}} {{medicalFile.lastname}}</h5>
        <p>
            <i class="fa fa-calendar"></i> {{medicalFile.birthday}}
            <span></span>
        </p>
        <p>
            <i class="fa fa-envelope"></i> {{(medicalFile.email) ? (medicalFile.email) : ("Inconnue")}}
        </p>
        <p>
            <i class="fa fa-phone"></i> {{(medicalFile.phone) ? (medicalFile.phone) : ("Inconnue")}}
        </p>
    </div>


    <div class="controller">
        <span class="edit" (click)="editMedicalFile()">
            <i class="fa fa-edit"></i>
        </span>
        <span class="igonre" (click)="closeMedicalFile()">
            <i class="fa fa-times"></i>
        </span>
    </div>
</div>