<div class="main-container stretch-container">
    <div class="symptoms-container-side" *ngIf="!showResult">

        <div class="controller">
            <div class="row">
                <div class="col col-md-6">
                    <button [class.active]="symptomsControllerMode" (click)="symptomsControllerMode = true">Rechercher un symptôme                    </button>
                </div>
                <div class="col col-md-6">
                    <button [class.active]="!symptomsControllerMode" (click)="symptomsControllerMode = false">Tous les symptômes
                    </button>
                </div>
            </div>
        </div>

        <div class="symptoms-controllers-container" *ngIf="symptomsControllerMode">
            <app-selected-symptoms (symptomsUpdated)="updateBodyAreaSymptoms()" [selectedSymptoms]="selectedSymptoms"></app-selected-symptoms>
        </div>
        <div class="symptoms-controllers-container" *ngIf="!symptomsControllerMode">
            <app-all-symptoms (symptomsUpdated)="updateBodyAreaSymptoms()" [selectedSymptoms]="selectedSymptoms"></app-all-symptoms>
        </div>

        <div class="submitter primary-radius">
            <button (click)=" diagnosis() ">Analyser</button>
            <div style="clear : both;"></div>
        </div>

    </div>

    <div class="diagnosis-result primary-radius" *ngIf="showResult">
        <div class="header">
            <i class="fa fa-arrow-left " (click)="showResult=false"></i>
        </div>
        <app-diagnosis-predictions [diagnosisPredictions]="predictions "></app-diagnosis-predictions>
    </div>


    <div class="human-body-container-side ">
        <div class="patient-info-container primary-radius ">
            <app-patient-info [visit]="visit"></app-patient-info>
        </div>
        <div class="human-body ">
            <app-human-body [bodyAreaSymptoms]="bodyAreaSymptoms" [gender]="visit.medicalFile.gender"></app-human-body>
        </div>
    </div>

</div>