.main-container {
    padding: 16px;
}

.symptoms-container-side,
.diagnosis-result {
    max-width: 460px;
    min-width: 460px;
    position: relative;
    padding-right: 16px;
}

.human-body-container-side {
    width: 700px;
    height: auto;
    position: relative;
    overflow: hidden;
}

.submitter {
    width: 100%;
    padding: 16px;
    background: white;
    padding-top: 32px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.submitter button {
    width: 50%;
    float: right;
}

.fa-arrow-left {
    font-size: 20px;
    cursor: pointer;
}

.header {
    padding: 0px 16px;
    padding-top: 16px;
}

.patient-info-container {
    background: white;
    margin-bottom: 16px;
}

.human-body {
    border-radius: 16px;
    overflow: hidden;
}

.controller {
    background: white;
    padding: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.controller button {
    outline: none;
    width: 100%;
    padding: 8px 12px !important;
    border-radius: 20px;
    box-shadow: none;
    color: #888;
    font-size: 14px;
    border: none;
    background: transparent;
}

.controller button.active {
    color: rgba(38, 94, 215);
}

.symptoms-controllers-container {
    background: white;
    height: 600px;
}

.diagnosis-result {
    background: white;
    margin-right: 16px;
    padding-right: 0px;
}