<div class="main-container ">
    <div class="analytics-header">
        <app-analytics-header (periodSelectedEvent)="periodSelected($event)"></app-analytics-header>
    </div>
    <div class="stretch-container">
        <div class="info-side">

            <span>{{numberOfVisits}} Visite</span>
            <h5>Nombres des visites</h5>

            <span>{{totalGain}} DA</span>
            <h5>Gain total</h5>

            <span>{{totalExpenses}} DA</span>
            <h5>Total des frais</h5>

            <span>{{totalPureGain}} DA</span>
            <h5>Gain-Net Total</h5>

            <a class="secondary-button" routerLink="/dashboard/visits-and-appointments-manager/visits">Détails</a>
        </div>
        <div class="canvas-side">
            <canvas #chart baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins"></canvas>
        </div>
    </div>
</div>