.info-side {
    max-width: 160px;
    min-width: 160px;
}

.info-side h5 {
    color: #888;
    font-size: 11px;
    margin: 0px;
}

.info-side span {
    color: #212121;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 16px;
}

.canvas-side {
    width: 100%;
    margin-top: 26px;
}

canvas {
    width: 100%;
}