<div class="main-container">
    <div class="body">
        <div class="search-header">
            <app-diagnosis-search-header (searchEvent)="search($event)"></app-diagnosis-search-header>
        </div>
        <div class="responses-list row">

            <div class="col col-md-3" *ngFor="let response of neuronResponses">
                <div class="response-container">
                    <app-neuron-response [patientInfo]="true" [modelOutputs]="modelOutputs" [neuronResponse]="response"></app-neuron-response>
                </div>
            </div>

        </div>
    </div>
    <div class="pagination-container">
        <app-pagination (pageSelected)="selectPage($event)" [count]="count" [loaded]="neuronResponses.length" [offset]="offset" [limit]="limit"></app-pagination>
    </div>
</div>