.header {
    height: 8vh;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.header img {
    width: 52px;
    height: 52px;
}

.sidebar-container {
    padding: 8px;
    height: 100vh;
    overflow: hidden;
    width: 300px;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    width: 100%;
}

ul li {
    text-align: left;
    transition-duration: 0.3s;
    cursor: pointer;
    margin: 16px 0px;
}

ul li a {
    display: block;
}

ul li i {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
    padding: 8px;
    border-radius: 10px;
    width: 42px;
    text-align: center;
}

ul li:hover i {
    background: rgba(255, 255, 255, 0.2)
}

.navigation {
    display: grid;
    align-items: center;
    height: 80vh;
}

ul li.active i {
    background: rgba(255, 255, 255, 0.2);
}

ul li.active span {
    color: rgba(255, 255, 255, 0.9) !important;
}

.humb-container {
    transition-duration: 0.3s;
    border-radius: 10px;
    cursor: pointer;
    padding: 4px 2px;
    display: inline-block;
    margin: 8px 0px;
}

.humb-container:hover {
    background: rgba(255, 255, 255, 0.2);
}

.humb-container.active .humb-line:nth-child(1) {
    transform: translate(-8px, 4px) rotateZ(-45deg) scaleX(0.6);
}

.humb-container.active .humb-line:nth-child(3) {
    transform: translate(-8px, -4px) rotateZ(45deg) scaleX(0.6);
}

.humb-line {
    background: white;
    height: 3px;
    border-radius: 8px;
    width: 32px;
    margin: 8px;
    display: block;
    transition-duration: 0.3s;
}

ul li a span {
    margin: 0px 16px;
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    font-weight: bold;
}

ul li:hover span {
    color: rgba(255, 255, 255, 0.9) !important;
}

a:hover {
    text-decoration: none;
}