<div class="sidebar-container">
    <div class="header">
        <img src="../../../../assets/logo.png">
    </div>
    <div class="nav">
        <ul>
            <li [class.active]="activatedRouter == 1">
                <a routerLink="/dashboard/general">
                    <i class="fas fa-clinic-medical"></i>
                </a>
            </li>
            <li [class.active]="activatedRouter == 2">
                <a routerLink="/dashboard/waiting-room">
                    <i class="fa fa-restroom"></i>
                </a>
            </li>
            <li [class.active]="activatedRouter == 3">
                <a routerLink="/dashboard/visits">
                    <i class="fa fa-calendar-check"></i>
                </a>
            </li>
            <li [class.active]="activatedRouter == 4">
                <a routerLink="/dashboard/medical-files">
                    <i class="fa fa-file-medical-alt"></i>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-chart-pie"></i>
                </a>
            </li>
            <li [class.active]="activatedRouter == 5">
                <a routerLink="/dashboard/visit">
                    <i class="fa fa-heartbeat"></i>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-user-injured"></i>
                </a>
            </li>
            <li [class.active]="activatedRouter == 6">
                <a routerLink="/dashboard/profil">
                    <i class="fa fa-user-md"></i>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-sign-out-alt"></i>
                </a>
            </li>
        </ul>

    </div>
    <div class="footer">

    </div>
</div>