<div class="main-container">
    <app-header></app-header>
    <div class="inner-navigation row">
        <a [class.selected]="selectedOption == 'documents'" routerLink="documents">
            <i class="fa fa-file-medical-alt"></i>
            <span>Documents</span>
        </a>
        <a [class.selected]="selectedOption == 'diagnosis'" routerLink="diagnosis">
            <i class="fa fa-stethoscope"></i> <span>Diagnostqiues</span>
        </a>
    </div>

    <div class="body">
        <router-outlet></router-outlet>
    </div>
</div>