<div class="main-container">
    <button class="secondary-button" (click)="newVisit()" [disabled]="waitingRoom == null">
        <i class="fa fa-plus"></i>
        Nouvelle visit 
    </button>
    <a *ngIf="appointments.length > 0">
        <i class="fa fa-calendar-alt"></i> {{appointments.length}} RDV pour aujourd'hui
    </a>
    <button class="secondary-button right" (click)="next()" [disabled]="waitingRoom == null"> 
        Patient Suivant <i class="fa fa-arrow-right"></i>
    </button>
</div>