.main-container {
    padding: 12px;
    position: relative;
}

button {
    width: 160px;
    border-radius: 20px;
    padding-top: 5px;
}

button .fa-plus {
    margin-right: 8px;
}

button .fa-arrow-right {
    margin-left: 8px;
}

.right {
    float: right;
}

button[disabled] {
    background: #eeeeee;
    color: #212121;
}

button[disabled]:hover {
    background: #eeeeee;
    color: #212121;
    cursor: not-allowed;
}

a {
    color: rgb(38, 94, 215);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}