.main-container {
    padding: 16px;
    width: 720px;
}

.content {
    background: white;
    padding: 16px;
}

.name-icon-container {
    max-width: 100px;
    min-width: 100px;
    height: 120px;
    position: relative;
}

.icon-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding: 6px;
    border: 4px solid #F5F6FA;
}

.icon-container span {
    display: block;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(254, 101, 85);
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.patient-info {
    width: 100%;
    padding-left: 16px;
}

.patient-info .center-v {
    height: 100%;
}

p {
    color: #555555;
    font-size: 12px;
    margin-bottom: 4px;
}

p i {
    color: rgb(38, 94, 215);
    margin-right: 4px;
}

.patient-info h5 {
    font-size: 18px;
    font-weight: bold;
    color: #555555;
    margin: 0px;
    margin-bottom: 6px;
}

.antecedents-container span {
    background: #eeeeee;
    padding: 8px 16px;
    display: inline-block;
    border-radius: 20px;
    color: #555555;
    margin-right: 8px;
    margin-top: 8px;
}

.antecedents {
    margin-top: 8px;
}

.antecedents-container {
    margin-right: -8px;
    margin-top: -4px;
    height: 128px;
    max-height: 128px;
    overflow: hidden;
}

.visits-header span {
    color: #888;
}

.visits-header span:last-child {
    float: right;
}

.visit {
    margin: 8px 0px;
    display: block;
    padding: 4px 12px;
    border-radius: 20px;
    cursor: pointer;
    color: #555;
}

.visit:hover {
    background: #eeeeee;
    text-decoration: none;
}

.visit span:last-child {
    float: right;
    font-weight: bold;
}

.control {
    margin-top: 16px;
}

.control button {
    width: 160px;
    cursor: pointer;
}

.control button.delete {
    float: right;
    background: rgb(254, 101, 85);
}