.main-container {
    width: 460px;
    padding: 16px;
}

.controller button {
    width: 160px;
    border-radius: 8px;
}

.controller button:last-child {
    float: right;
}

p {
    text-align: center;
    color: #555;
    font-size: 14px;
}

.content {
    padding: 16px;
    background: white;
}